<a href="https://colab.research.google.com/github/SarahSouzaPontes/analise_dados_dengue/blob/main/Qualidade_dos_Dados_pynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import pandas as pd
import matplotlib.pyplot as plt

# Carregue o arquivo CSV em um DataFrame, especificando o separador como ';'
df = pd.read_csv('/content/sample_data/dengue.csv', sep=';')
df

<ipython-input-38-f0891ec1ecca>:5: DtypeWarning: Columns (27,49,51,88,104) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/sample_data/dengue.csv', sep=';')

,NU_NOTIFIC,ID_PESSOA,NOME,COMUNINF,ID_MN_RESI,ID_MUNICIP,MUNICIPIO,TP_NOT,ID_AGRAVO,DT_NOTIFIC,...,MUN_HOSP,UF_HOSP,MUN_SAUDENOT,UF_SAUDENOT,MUNI_RESI,UF_RESI,MUN_INFEC,UF_INFEC,IDADE,SEM_PRI_V
0,10110,291800-291800-1982-06-23-M-4.0,ALBERTO GARCIA MACIEL FILHO AGUIAR,290060.0,291800,291800,NaN,2,A90,2012-12-31,...,NaN,NaN,JEQUIE,29,JEQUIE,29,AIQUARA,29.0,30.0,1.0
1,1994,291800-291800-1984-07-26-M-4.0,MARCIO RIBEIRO FONSECA,NaN,291800,291800,NaN,2,A90,2013-01-01,...,NaN,NaN,JEQUIE,29,JEQUIE,29,NaN,NaN,28.0,1.0
2,5321,291890-291890-1988-06-22-F-2.0,SOLANGE MOREIRA SANTOS CARDOSO ASSIS,291890.0,291890,291890,NaN,2,A90,2013-01-01,...,NaN,NaN,LAJEDAO,29,LAJEDAO,29,LAJEDAO,29.0,24.0,1.0
3,15811,293105-293105-2004-12-29-F-2.0,PATRICIA BORGES ROCHA,293105.0,293105,293105,NaN,2,A90,2013-01-01,...,NaN,NaN,TANQUE NOVO,29,TANQUE NOVO,29,TANQUE NOVO,29.0,8.0,1.0
4,23461,293105-293105-1961-01-25-M-2.0,WALTER AMARAL RIBEIRO RODRIGUES PINHEIRO,293105.0,293105,293105,NaN,2,A90,2013-01-01,...,NaN,NaN,TANQUE NOVO,29,TANQUE NOVO,29,TANQUE NOVO,29.0,51.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38564,19618,291080-291080-1985-10-04-F-9.0,NEUZA SOUSA FERNANDES AGUIAR,NaN,291080,291080,NaN,2,A90,2019-12-28,...,NaN,NaN,FEIRA DE SANTANA,29,FEIRA DE SANTANA,29,NaN,NaN,34.0,52.0
38565,6805,292740-292740-1981-05-01-M-4.0,MARCELO MORAES MIRANDA NUNES COELHO,NaN,292740,292740,NaN,2,A90,2019-12-28,...,NaN,NaN,SALVADOR,29,SALVADOR,29,NaN,NaN,38.0,52.0
38566,16531,292740-292740-1996-10-04-M-9.0,JOAQUIM MACEDO CORREIA MELO,NaN,292740,292740,NaN,2,A90,2019-12-28,...,NaN,NaN,SALVADOR,29,SALVADOR,29,NaN,NaN,23.0,52.0
38567,31594,292740-292740-1991-07-05-F-9.0,LIDIA TAVARES CORREIA,NaN,292740,292740,NaN,2,A90,2019-12-28,...,NaN,NaN,SALVADOR,29,SALVADOR,29,NaN,NaN,28.0,52.0
38568,1174,292740-292740-1957-10-01-F-4.0,OLGA PINTO FARIAS,NaN,292740,292740,NaN,2,A90,2019-12-28,...,NaN,NaN,SALVADOR,29,SALVADOR,29,NaN,NaN,62.0,52.0

In [48]:
# Exibir todas as colunas do DataFrame
print("Todas as colunas do DataFrame:")
for coluna in df.columns:
    print(coluna)

Todas as colunas do DataFrame:
NU_NOTIFIC
ID_PESSOA
NOME
COMUNINF
ID_MN_RESI
ID_MUNICIP
MUNICIPIO
TP_NOT
ID_AGRAVO
DT_NOTIFIC
SEM_NOT
NU_ANO
SG_UF_NOT
ID_REGIONA
ID_UNIDADE
DT_SIN_PRI
SEM_PRI
DT_NASC
NU_IDADE_N
CS_SEXO
CS_GESTANT
CS_RACA
CS_ESCOL_N
SG_UF
ID_RG_RESI
ID_PAIS
DT_INVEST
ID_OCUPA_N
FEBRE
MIALGIA
CEFALEIA
EXANTEMA
VOMITO
NAUSEA
DOR_COSTAS
CONJUNTVIT
ARTRITE
ARTRALGIA
PETEQUIA_N
LEUCOPENIA
LACO
DOR_RETRO
DIABETES
HEMATOLOG
HEPATOPAT
RENAL
HIPERTENSA
ACIDO_PEPT
AUTO_IMUNE
DT_CHIK_S1
DT_CHIK_S2
DT_PRNT
RES_CHIKS1
RES_CHIKS2
RESUL_PRNT
DT_SORO
RESUL_SORO
DT_NS1
RESUL_NS1
DT_VIRAL
RESUL_VI_N
DT_PCR
RESUL_PCR_
SOROTIPO
HISTOPA_N
IMUNOH_N
HOSPITALIZ
DT_INTERNA
UF
TPAUTOCTO
COUFINF
COPAISINF
CLASSI_FIN
CRITERIO
DOENCA_TRA
CLINC_CHIK
EVOLUCAO
DT_OBITO
DT_ENCERRA
ALRM_HIPOT
ALRM_PLAQ
ALRM_VOM
ALRM_SANG
ALRM_HEMAT
ALRM_ABDOM
ALRM_LETAR
ALRM_HEPAT
ALRM_LIQ
DT_ALRM
GRAV_PULSO
GRAV_CONV
GRAV_ENCH
GRAV_INSUF
GRAV_TAQUI
GRAV_EXTRE
GRAV_HIPOT
GRAV_HEMAT
GRAV_MELEN
GRAV_METRO
GRAV_SANG
GRAV_AST
GRAV_MIOC
GRAV_CONSC
GRAV_ORGAO
DT_GRAV
MANI_HEMOR
EPISTAXE
GENGIVO
METRO
PETEQUIAS
HEMATURA
SANGRAM
LACO_N
PLASMATICO
EVIDENCIA
PLAQ_MENOR
CON_FHD
COMPLICA
TP_SISTEMA
NDUPLIC_N
CS_FLXRET
FLXRECEBI
NOME DO MUNICÍPIO
POPULAÇÃO ESTIMADA 2020
POPULAÇÃO ESTIMADA 2019
POPULAÇÃO ESTIMADA 2018
POPULAÇÃO ESTIMADA 2017
POPULAÇÃO ESTIMADA 2016
POPULAÇÃO ESTIMADA 2015
POPULAÇÃO ESTIMADA 2014
POPULAÇÃO ESTIMADA 2013
POPULAÇÃO ESTIMADA 2012
POPULAÇÃO ESTIMADA 2011
MUN_HOSP
UF_HOSP
MUN_SAUDENOT
UF_SAUDENOT
MUNI_RESI
UF_RESI
MUN_INFEC
UF_INFEC
IDADE
SEM_PRI_V

In [92]:
# Suponha que df seja o seu DataFrame

# Visualizar os valores únicos da coluna 'CS_ESCOL_N'
valores_unicos_cs_escol_n = df['CS_ESCOL_N'].unique()

# Exibir os valores únicos da coluna 'CS_ESCOL_N'
print("Valores únicos da coluna 'CS_ESCOL_N':")
print(valores_unicos_cs_escol_n)

Valores únicos da coluna 'CS_ESCOL_N':
[ 6. nan  9.  7.  3.  8. 10.  5.  4.  2.  1.  0.]

In [91]:
# Suponha que df seja o seu DataFrame

# Visualizar os valores únicos da coluna 'ID_OCUPA_N'
valores_unicos_id_ocupa_n = df['ID_OCUPA_N'].unique()

# Exibir os valores únicos da coluna 'ID_OCUPA_N'
print("Valores únicos da coluna 'ID_OCUPA_N':")
print(valores_unicos_id_ocupa_n)

Valores únicos da coluna 'ID_OCUPA_N':
[342305.0 nan 998999.0 951105.0 999991.0 231205.0 422215.0 999992.0
 763210.0 261140.0 715505.0 331110.0 999994.0 521135.0 142320.0 513315.0
 715210.0 621005.0 999993.0 516205.0 254310.0 331205.0 782305.0 514215.0
 512105.0 524305.0 782405.0 142530.0 111120.0 782510.0 141410.0 223605.0
 333115.0 724110.0 331105.0 622020.0 516105.0 763320.0 613405.0 261415.0
 352210.0 515105.0 521105.0 764305.0 351505.0 412110.0 223505.0 223620.0
 521110.0 411005.0 421125.0 252210.0 715615.0 322230.0 784105.0 613005.0
 512110.0 322205.0 992225.0 631010.0 524205.0 212315.0 422105.0 354705.0
 723310.0 517330.0 632520.0 782505.0 514210.0 782315.0 516110.0 324115.0
 631020.0 612005.0 514115.0 111220.0 422205.0 517420.0 141405.0 239425.0
 252305.0 782410.0 321105.0 231320.0 241005.0 521130.0 910105.0 512120.0
 716610.0 411010.0 763010.0 414210.0 848305.0 232115.0 761820.0 862305.0
 725010.0 231210.0 252105.0 239405.0 848510.0 841408.0 131110.0 764005.0
 516210.0 515215.0 519110.0 261125.0 233125.0 251605.0 632125.0 141615.0
 513405.0 239205.0 631210.0 771105.0 321110.0 223560.0 515210.0 622005.0
 223710.0 914405.0 516120.0 '622005' '999992' '998999' '999991' '999993'
 '513405' '521110' '751010' '622020' '621005' '999994' '524305' '764205'
 '516210' '512105' '715610' '342110' '724440' '354705' '252105' '724315'
 '715315' '411010' '515105' '725305' '410105' '715210' '521125' '321110'
 '142305' '622605' '322205' '517330' '512115' '782305' '516110' '234624'
 '241005' '252525' '322230' '517310' '715505' '239415' '422120' '223505'
 '141410' '313120' '223305' '513425' '515225' '331205' '232115' '233125'
 '411005' '331110' '516105' '261125' '723310' '712205' '351105' '262705'
 '516120' '422305' '231205' '141515' '517215' '514210' '848305' '223710'
 '848510' '631105' '232165' '768205' '512110' '732105' '351505' '413210'
 '252210' '234405' '142105' '513205' '631210' '862150' '521135' '354820'
 '313105' '251610' '141405' '717020' '524105' '318815' '725010' '641015'
 '251205' '782505' '611005' '223131' '223104' '782315' '512120' '612005'
 '715615' '524205' '141115' '514215' '421125' '519940' '3222E1' '354605'
 '841625' '517410' '351605' 'XXX' '223565' '513435' '521105' '517415'
 '231335' '239405' '414215' '141510' '251530' '421315' '422105' '413205'
 '521130' '521115' '763210' '333115' '848505' '513210' '782510' '413220'
 '214365' '514225' '333105' '763125' '231315' '232145' '251605' '000000'
 '513505' '2235C1' '021210' '721215' '261720' '711405' '515120' '252205'
 '371410' '415205' '622115' '321105' '111415' '252305' 251510.0 622115.0
 717020.0 715525.0 223208.0 513210.0 300305.0 251610.0 848505.0 517215.0
 622605.0 223212.0 763015.0 631105.0 862150.0 351105.0 513205.0 768625.0
 622305.0 515120.0 262810.0 513435.0 0.0 710205.0 632015.0 421105.0
 725705.0 716305.0 313215.0 512115.0 142305.0 521125.0 724410.0 222110.0
 773110.0 214120.0 214930.0 782120.0 121010.0 724315.0 992205.0 114205.0
 142105.0 774105.0 524105.0 513220.0 252540.0 411030.0 351430.0 213205.0
 214935.0 261205.0 351910.0 999995.0 783225.0 252545.0 21210.0 414105.0
 225125.0 516305.0 611005.0 239415.0 301110.0 141205.0 312320.0 422110.0
 234624.0 234510.0 622010.0 622210.0 314110.0 514120.0 234905.0 223149.0
 252525.0 411045.0 253120.0 142115.0 413220.0 141415.0 111410.0 724440.0
 954115.0 773405.0 322410.0 422305.0 223565.0 252605.0 715115.0 731165.0
 515305.0 517315.0 511215.0 354605.0 231335.0 782220.0 783210.0 516345.0
 992115.0 724435.0 212420.0 516135.0 513505.0 234760.0 517310.0 262705.0
 517410.0 516340.0 513605.0 223405.0 231310.0 '334115' '231105' '352210'
 '631020' '261805' '914405' '622010' '221205' '516205' '332105' '716610'
 '251510' '231325' '771105' '223430' '517420' '122620' '632125' '783210'
 '514120' '223115' '313315' '221105' '214205' '5151H1' '223605' '261305'
 '414210' '234810' '212420' '313410' '322245' '848310' '313310' '422310'
 '782405' '351420' '312320' '414105' '763010' '516345' '254310' '517110'
 '262610' '782410' '763015' '722215' '322420' '233105' '513315' '791110'
 '724410' '760310' '141615' '3224F2' '223405' '992225' '412110' '774105'
 '724110' '111220']

In [90]:
# Suponha que df seja o seu DataFrame

# Visualizar os valores únicos da coluna 'SEM_NOT'
valores_unicos_sem_not = df['SEM_NOT'].unique()

# Exibir os valores únicos da coluna 'SEM_NOT'
print("Valores únicos da coluna 'SEM_NOT':")
print(valores_unicos_sem_not)

Valores únicos da coluna 'SEM_NOT':
[201301 201302 201303 201304 201305 201306 201307 201308 201309 201310
 201311 201312 201313 201314 201315 201316 201317 201318 201319 201320
 201321 201322 201323 201324 201325 201326 201327 201328 201329 201330
 201331 201332 201333 201334 201335 201336 201337 201338 201339 201340
 201341 201342 201343 201344 201345 201346 201347 201348 201349 201350
 201351 201352 201401 201402 201403 201404 201405 201406 201407 201408
 201409 201410 201411 201412 201413 201414 201415 201416 201417 201418
 201419 201420 201421 201422 201423 201424 201425 201426 201427 201428
 201429 201430 201431 201432 201433 201434 201435 201436 201437 201438
 201439 201440 201441 201442 201443 201444 201445 201446 201447 201448
 201449 201450 201451 201452 201453 201501 201502 201503 201504 201505
 201506 201507 201508 201509 201510 201511 201512 201513 201514 201515
 201516 201517 201518 201519 201520 201521 201522 201523 201524 201525
 201526 201527 201528 201529 201530 201531 201532 201533 201534 201535
 201536 201537 201538 201539 201540 201541 201542 201543 201544 201545
 201546 201547 201548 201549 201550 201551 201552 201601 201602 201603
 201604 201605 201606 201607 201608 201609 201610 201611 201612 201613
 201614 201615 201616 201617 201618 201619 201620 201621 201622 201623
 201624 201625 201626 201627 201628 201629 201630 201631 201632 201633
 201634 201635 201636 201637 201638 201639 201640 201641 201642 201643
 201644 201645 201646 201647 201648 201649 201650 201651 201652 201701
 201702 201703 201704 201705 201706 201707 201708 201709 201710 201711
 201712 201713 201714 201715 201716 201717 201718 201719 201720 201721
 201722 201723 201724 201725 201726 201727 201728 201729 201730 201731
 201732 201733 201734 201735 201736 201737 201738 201739 201740 201741
 201742 201743 201744 201745 201746 201747 201748 201749 201750 201751
 201752 201801 201802 201803 201804 201805 201806 201807 201808 201809
 201810 201811 201812 201813 201814 201815 201816 201817 201818 201819
 201820 201821 201822 201823 201824 201825 201826 201827 201828 201829
 201830 201831 201832 201833 201834 201835 201836 201837 201838 201839
 201840 201841 201842 201843 201844 201845 201846 201847 201848 201849
 201850 201851 201852 201901 201902 201903 201904 201905 201906 201907
 201908 201909 201910 201911 201912 201913 201914 201915 201916 201917
 201918 201919 201920 201921 201922 201923 201924 201925 201926 201927
 201928 201929 201930 201931 201932 201933 201934 201935 201936 201937
 201938 201939 201940 201941 201942 201943 201944 201945 201946 201947
 201948 201949 201950 201951 201952]

In [72]:
# Lista das colunas a serem verificadas
colunas_distinct = ['MUN_HOSP', 'UF_HOSP', 'MUN_SAUDENOT', 'UF_SAUDENOT',
                    'MUNI_RESI', 'UF_RESI', 'MUN_INFEC', 'UF_INFEC',
                    'IDADE', 'SEM_PRI_V']

# Exibir os valores únicos de cada coluna
for coluna in colunas_distinct:
    valores_unicos = df[coluna].unique()
    print(f"Valores únicos da coluna '{coluna}':")
    print(valores_unicos)
    print()

Valores únicos da coluna 'MUN_HOSP':
[nan 'VALENTE' 'BOTUPORA' 'GUANAMBI' 'MEDEIROS NETO' 'SERRA DOURADA'
 'BRUMADO' 'ALCOBACA' 'ITAMARAJU' 'JEQUIE' 'MUCURI' 'IBIRATAIA'
 'CICERO DANTAS' 'IUIU' 'UNA' 'EUNAPOLIS' 'PORTO SEGURO' 'UAUA' 'IBICUI'
 'TANQUE NOVO' 'SENTO SE' 'SENHOR DO BONFIM' 'SALVADOR' 'PARAMIRIM'
 'SEABRA' 'ITAGIBA' 'IBIPITANGA' 'SATIRO DIAS' 'LAJEDO DO TABOCAL'
 'BARREIRAS' 'WAGNER' 'RIACHAO DAS NEVES' 'ENCRUZILHADA' 'ESPLANADA'
 'CACULE' 'IRECE' 'CACHOEIRA' 'CAFARNAUM' 'IBITITA' 'CATURAMA' 'IPIAU'
 'BRASILIA' 'MORRO DO CHAPEU' 'FEIRA DE SANTANA' 'MARACAS' 'JUAZEIRO'
 'AMERICA DOURADA' 'POCOES' 'AIQUARA' 'IRAMAIA' 'ILHEUS' 'JAGUAQUARA'
 'VARZEA DO POCO' 'RIO DE CONTAS' 'ITABELA' 'PLANALTINO' 'CARAVELAS'
 'CASTRO ALVES' 'ITAJU DO COLONIA' 'CRAVOLANDIA' 'MACARANI' 'JACOBINA'
 'JUCURUCU' 'BAIXA GRANDE' 'SANTO ANTONIO DE JESUS' 'ITIRUCU' 'IPIRA'
 'CONDEUBA' 'CAEM' 'UIBAI' 'GANDU' 'ITACARE' 'CAATIBA' 'ITAPEBI'
 'ANDORINHA' 'ITABUNA' 'UBATA' 'SAPEACU' 'IBITIARA' 'CANDIDO SALES'
 'PALMAS' 'JABORANDI' 'ITABERABA' 'ITAPARICA' 'MULUNGU DO MORRO'
 'SOUTO SOARES' 'ITUACU' 'ICHU' "DIAS D'AVILA" 'CASA NOVA' 'LAPAO'
 'RUY BARBOSA' 'BARRA DA ESTIVA' 'BARRA' 'BARRA DO MENDES' 'ANDARAI'
 'XIQUE-XIQUE' 'CRISOPOLIS' 'LUIS EDUARDO MAGALHAES' 'CAMACARI' 'AMARGOSA'
 'SERROLANDIA' 'LAJE' 'BURITIRAMA' 'MACAJUBA' 'LAURO DE FREITAS'
 'CAPELA DO ALTO ALEGRE' 'MACAUBAS' 'UBAITABA' 'RECIFE' 'BONITO' 'JUSSARI'
 'SAO DOMINGOS' 'CONCEICAO DO COITE' 'TAPIRAMUTA' 'VERA CRUZ' 'ARACI'
 'SAO SEBASTIAO DO PASSE' 'PETROLINA' 'QUEIMADAS' 'CANUDOS' 'URANDI'
 'JACARACI' 'SAO GABRIEL' 'MUTUIPE' 'RIO DO PIRES' 'CAMACAN'
 'CORONEL JOAO SA' 'ANTAS' 'ITANHEM' 'TEIXEIRA DE FREITAS' 'PAU BRASIL'
 'UBAIRA' 'SAUDE' 'JITAUNA' 'CAMPO FORMOSO' 'BELMONTE' 'CANAVIEIRAS'
 'PAULO AFONSO' 'CAMAMU' 'ITUBERA' 'WANDERLEY' 'SANTA MARIA DA VITORIA'
 'CORIBE' 'BELO HORIZONTE' 'INHAMBUPE' 'BREJOLANDIA' 'SIMOES FILHO'
 'REMANSO' 'LIVRAMENTO DE NOSSA SENHORA' 'MATINA' 'SERRA DO RAMALHO'
 'SITIO DO MATO' 'CAMPO ALEGRE DE LOURDES' 'CATU' 'VITORIA' 'PINDOBACU'
 'MONTES CLAROS' 'GONGOGI' 'GOIANIA' 'CORRENTINA' 'ALAGOINHAS' 'SERRINHA'
 'VARZEA NOVA' 'ERICO CARDOSO' 'CANARANA' 'CRISTOPOLIS' 'PINTADAS'
 'POJUCA' 'SANTO AMARO' 'MIGUEL CALMON' 'CANAPOLIS' 'SANTA TERESINHA'
 'CANDIBA' 'CARINHANHA' 'ENTRE RIOS' 'JUSSARA' 'MATA DE SAO JOAO'
 'PALMAS DE MONTE ALTO' 'CONDE' 'CAETITE' 'SAO FELIX DO CORIBE'
 'MALHADA DE PEDRAS' 'MORTUGABA' 'SANTALUZ' 'SEBASTIAO LARANJEIRAS'
 'GENTIO DO OURO' 'MILAGRES' 'PRESIDENTE TANCREDO NEVES'
 'BROTAS DE MACAUBAS' 'TANHACU' 'ITABAIANA' 'ANGICAL' 'TEOFILANDIA'
 'RETIROLANDIA' 'ABARE' 'OLINDINA' 'SAO PAULO' 'RAFAEL JAMBEIRO']

Valores únicos da coluna 'UF_HOSP':
[nan 29. 53. 17. 26. 31. 32. 52. 28. 35.]

Valores únicos da coluna 'MUN_SAUDENOT':
['JEQUIE' 'LAJEDAO' 'TANQUE NOVO' 'RIO DO ANTONIO' 'ICHU'
 'MANOEL VITORINO' 'TEIXEIRA DE FREITAS' 'BARREIRAS'
 'SAO SEBASTIAO DO PASSE' 'ILHEUS' 'RIBEIRA DO POMBAL' 'VALENTE'
 'RIACHO DE SANTANA' 'GUANAMBI' 'COCOS' 'IBIASSUCE' 'VITORIA DA CONQUISTA'
 'BRUMADO' 'SANTO AMARO' 'ITATIM' 'ALCOBACA' 'SALVADOR' 'BOTUPORA'
 'NOVA VICOSA' 'FEIRA DE SANTANA' 'SERRINHA' 'SAPEACU' 'SAUDE' 'CAETANOS'
 'QUIXABEIRA' 'JACOBINA' 'EUCLIDES DA CUNHA' 'MACAUBAS'
 'SANTO ANTONIO DE JESUS' 'ITAPE' 'CANARANA' 'MEDEIROS NETO' 'ITAGI'
 'MIGUEL CALMON' 'SENHOR DO BONFIM' 'GAVIAO' 'MAIQUINIQUE' 'SERRA DOURADA'
 'ITAMARAJU' 'ITABUNA' 'ANAGE' 'URUCUCA' 'ITORORO' 'PORTO SEGURO'
 'IBIPEBA' 'CARAVELAS' 'LAGOA REAL' 'MUCURI' 'BELMONTE' 'IUIU'
 'SERROLANDIA' 'EUNAPOLIS' 'ITAPETINGA' 'LAFAIETE COUTINHO' 'OUROLANDIA'
 'MATINA' 'IBICARAI' 'ITAJUIPE' 'PALMAS DE MONTE ALTO'
 'BOA VISTA DO TUPIM' 'UNA' 'AMARGOSA' 'FEIRA DA MATA' 'SITIO DO QUINTO'
 'FILADELFIA' 'IBIPITANGA' 'ANGUERA' 'CAFARNAUM' 'ITANHEM' 'TANHACU'
 'IBIRATAIA' 'RIACHAO DO JACUIPE' 'SANTA LUZIA' 'CAETITE'
 'CALDEIRAO GRANDE' 'SENTO SE' 'AGUA FRIA' 'ARACAS' 'GUAJERU' 'ITAMBE'
 'MURITIBA' 'IPIAU' 'IBICUI' 'NOVA CANAA' 'ITAGUACU DA BAHIA' 'APORA'
 'RIACHAO DAS NEVES' 'PONTO NOVO' 'CANDEAL' 'CICERO DANTAS'
 'RAFAEL JAMBEIRO' 'IPECAETA' 'POCOES' 'ITARANTIM' 'IRAQUARA' 'MANSIDAO'
 'CACULE' 'UAUA' 'SATIRO DIAS' 'BREJOES' 'FORMOSA DO RIO PRETO' 'ADUSTINA'
 'SANTA CRUZ DA VITORIA' 'MULUNGU DO MORRO' 'SAO GONCALO DOS CAMPOS'
 'CORIBE' 'ARACI' 'DARIO MEIRA' 'SANTA MARIA DA VITORIA' 'VARZEA NOVA'
 'PAULO AFONSO' 'RIO DO PIRES' 'PARAMIRIM' 'PRESIDENTE DUTRA'
 'BREJOLANDIA' 'ITAGIBA' 'SEABRA' 'BARRO ALTO' 'BOM JESUS DA LAPA'
 'CORACAO DE MARIA' 'LUIS EDUARDO MAGALHAES' 'MALHADA' 'CANAVIEIRAS'
 'ENCRUZILHADA' 'PRESIDENTE JANIO QUADROS' 'GENTIO DO OURO' 'APUAREMA'
 'CATURAMA' 'COARACI' 'CORRENTINA' 'ITAPITANGA' 'BUERAREMA'
 'SANTA BARBARA' 'UIBAI' 'ITAETE' 'SANTA TERESINHA' 'CAMACAN'
 'AMERICA DOURADA' 'SOUTO SOARES' 'TAPIRAMUTA' 'BOA NOVA'
 'LAJEDO DO TABOCAL' 'TEODORO SAMPAIO' 'SANTALUZ' 'WAGNER' 'ARATACA'
 'IRECE' 'JITAUNA' 'IGAPORA' 'VERA CRUZ' 'IBITITA' 'PINTADAS'
 'SANTO ESTEVAO' 'CAMPO FORMOSO' 'MAIRI' 'TUCANO' 'ITAPEBI' 'BIRITINGA'
 'SAO DESIDERIO' 'IBITIARA' 'NOVA FATIMA' 'MARACAS' 'BARRA' 'ESPLANADA'
 'SAO FRANCISCO DO CONDE' 'LICINIO DE ALMEIDA' 'WANDERLEY'
 'ITAJU DO COLONIA' 'CAMPO ALEGRE DE LOURDES' 'SANTA INES' 'CACHOEIRA'
 'MACARANI' 'MARCIONILIO SOUZA' 'AIQUARA' 'MALHADA DE PEDRAS' 'ANDARAI'
 'JUAZEIRO' 'GONGOGI' 'SANTA RITA DE CASSIA' 'VEREDA' 'ITABERABA' 'PRADO'
 'JAGUAQUARA' 'DOM BASILIO' 'ANGICAL' 'UBATA' 'CARINHANHA' 'SANTANA'
 'BONITO' 'CANAPOLIS' 'PIRITIBA' 'IBOTIRAMA' 'URANDI'
 'OLIVEIRA DOS BREJINHOS' 'BURITIRAMA' 'PEDRO ALEXANDRE' 'BARRA DO ROCHA'
 'PARATINGA' 'POJUCA' 'FLORESTA AZUL' 'TERRA NOVA' 'LAJEDINHO' 'CONDEUBA'
 'NOVA REDENCAO' 'NOVO HORIZONTE' 'QUIJINGUE' 'FATIMA' 'SIMOES FILHO'
 'PALMEIRAS' 'ITUACU' 'PLANALTINO' 'ITIRUCU' 'UTINGA' 'BROTAS DE MACAUBAS'
 'SAO FELIX DO CORIBE' 'GUARATINGA' 'ELISIO MEDRADO' 'PLANALTO'
 'JOAO DOURADO' 'MAETINGA' 'MORRO DO CHAPEU' 'NOVA ITARANA'
 'BARRA DO MENDES' 'JACARACI' 'CAMACARI' 'BRASILIA' 'LAPAO' 'BANZAE'
 'CAPIM GROSSO' 'MILAGRES' 'ANTONIO GONCALVES' 'REMANSO' 'CAATIBA'
 'IBICOARA' 'BARRA DO CHOCA' 'NAZARE' 'CAPELA DO ALTO ALEGRE'
 'NILO PECANHA' 'ITACARE' 'SAO GABRIEL' 'VALENCA' 'PAU BRASIL'
 'SERRA DO RAMALHO' 'LAURO DE FREITAS' 'JEREMOABO' 'PARIPIRANGA'
 'SANTA CRUZ CABRALIA' 'JABORANDI' 'BARRO PRETO' 'ITABELA' 'CORDEIROS'
 'RIO DE CONTAS' 'LIVRAMENTO DE NOSSA SENHORA' 'MORTUGABA' 'IPIRA' 'IACU'
 'ITUBERA' 'IRAMAIA' 'CAMPINAS' 'COTEGIPE' 'CABACEIRAS DO PARAGUACU'
 'JUSSARI' 'SAO JOSE DO JACUIPE' 'GLORIA' 'CORONEL JOAO SA'
 'MONTES CLAROS' 'BOQUIRA' 'CANUDOS' 'CANDIBA' 'FLORIANOPOLIS' 'JUSSARA'
 'CANDIDO SALES' 'IPUPIARA' 'SAO JOAO DO PARAISO' 'ITIUBA'
 'VARZEA DO POCO' 'LARANJEIRAS DO SUL' 'UBAITABA' 'CONCEICAO DA FEIRA'
 'FIRMINO ALVES' 'CATU' 'CRISTOPOLIS' 'TAPEROA' 'ABAIRA' 'CASTRO ALVES'
 'GANDU' 'RUY BARBOSA' 'BAIANOPOLIS' 'ITAPARICA' 'RIO REAL' 'PIRIPA'
 'SAO FELIPE' 'MATA DE SAO JOAO' 'UMBURANAS' 'IBIQUERA' 'CRAVOLANDIA'
 'IRARA' 'CONCEICAO DO ALMEIDA' 'PINDAI' 'BAIXA GRANDE' 'CRUZ DAS ALMAS'
 'GOVERNADOR MANGABEIRA' 'JUCURUCU' 'CENTRAL' 'MACAJUBA'
 'CONCEICAO DO COITE' 'UBAIRA' 'CONCEICAO DO JACUIPE' 'JAGUARARI' 'CAEM'
 'VARZEA DA ROCA' 'LAMARAO' 'IGUAI' 'DOM MACEDO COSTA' 'PINDOBACU'
 'MORPARA' 'CARAIBAS' 'XIQUE-XIQUE' 'SAO PAULO' 'MONTE SANTO' 'BARROCAS'
 'CAMAMU' 'ACAJUTIBA' 'MARAU' 'SANTA BRIGIDA' "DIAS D'AVILA" 'ANDORINHA'
 'PILAO ARCADO' 'BARRA DA ESTIVA' 'MUNDO NOVO' 'MUQUEM DE SAO FRANCISCO'
 'POSSE' 'TREMEDAL' 'WENCESLAU GUIMARAES' 'NORDESTINA' 'ITAQUARA'
 'IRAJUBA' 'NOVA IBIA' 'BELO HORIZONTE' 'AMELIA RODRIGUES' 'MIRANGABA'
 'CIPO' 'PE DE SERRA' 'ERICO CARDOSO' 'MASCOTE' 'PIRAI DO NORTE' 'VITORIA'
 'MUTUIPE' 'MARAGOGIPE' 'TANQUINHO' 'ANTAS' 'NOVA SOURE' 'IBIRAPITANGA'
 'CANSANCAO' 'PALMAS' 'MIRANTE' 'LAJE' 'ALAGOINHAS' 'CARDEAL DA SILVA'
 'SANTANOPOLIS' 'SAO JOSE DA VITORIA' 'TEOFILANDIA' 'AURELINO LEAL'
 'MUNIZ FERREIRA' 'FRONTEIRA' 'CRISOPOLIS' 'CASA NOVA' 'ITAPICURU' 'CONDE'
 'CANDEIAS' 'SOBRADINHO' 'DIANOPOLIS' 'CURACA' 'PETROLINA' 'JANDAIRA'
 'JUSSIAPE' 'MADRE DE DEUS' 'CHORROCHO' 'PRESIDENTE TANCREDO NEVES'
 'INHAMBUPE' 'SAO FELIX' 'TEOLANDIA' 'RECIFE' 'SAO JOSE DO RIO PRETO'
 'HELIOPOLIS' 'RIBEIRA DO AMPARO' 'NOVO TRIUNFO' 'LONDRINA' 'JAGUARIPE'
 'SAO DOMINGOS' 'MACURURE' 'RODELAS' 'JIQUIRICA' 'LENCOIS' 'ITAGIMIRIM'
 'IBIRAPUA' 'RETIROLANDIA' 'CONTENDAS DO SINCORA' 'ARACATU' 'QUEIMADAS'
 'IGRAPIUNA' 'SERRA' 'ANTONIO CARDOSO' 'CABO DE SANTO AGOSTINHO'
 'CATOLANDIA' 'ATIBAIA' 'ENTRE RIOS' 'SITIO DO MATO' 'ARATUIPE'
 'SEBASTIAO LARANJEIRAS' 'ESPINOSA' 'ABARE' 'OLINDINA'
 'SANTA MARIA DA BOA VISTA' 'SAO MIGUEL DAS MATAS' 'DIVINOPOLIS DE GOIAS'
 'BUIQUE' 'SAO JOSE DOS CAMPOS' 'VISTA ALEGRE DO ALTO' 'NOVA LIMA'
 'FOZ DO IGUACU' 'ESTANCIA' 'SAO JOAO EVANGELISTA' 'RIOLANDIA' 'CAIRU'
 'MUCUGE' 'BELO CAMPO' 'TAMARANA' 'RIBEIRAO DO LARGO' 'VARZEDO' 'BONINAL'
 'ALMADINA' 'BARBACENA' 'PALMARES PAULISTA' 'BREJO SANTO' 'JAGUARE'
 'COLINAS DO TOCANTINS' 'SAO PEDRO DO IVAI' 'ITAMARI' 'VARGINHA'
 'BAIXA GRANDE DO RIBEIRO' 'LINHARES' 'TABOCAS DO BREJO VELHO' 'NATAL'
 'SERRA PRETA' 'GOIANIA' 'ARAMARI' 'JANUARIA' 'RESENDE' 'ANAPOLIS'
 'SAQUAREMA' 'SERRA TALHADA' 'LAGARTO' 'BAURU' 'BOM DESPACHO' 'ARAPIRACA'
 'PEDRAO' 'CARIRA' 'ARACAJU' 'OURICANGAS' 'NOVA VENECIA']

Valores únicos da coluna 'UF_SAUDENOT':
[29 53 35 31 42 41 52 32 17 26 28 23 22 24 33 27]

Valores únicos da coluna 'MUNI_RESI':
['JEQUIE' 'LAJEDAO' 'TANQUE NOVO' 'RIO DO ANTONIO' 'ICHU'
 'MANOEL VITORINO' 'TEIXEIRA DE FREITAS' 'BARREIRAS'
 'SAO SEBASTIAO DO PASSE' 'ILHEUS' 'RIBEIRA DO POMBAL' 'VALENTE'
 'RIACHO DE SANTANA' 'GUANAMBI' 'COCOS' 'VITORIA DA CONQUISTA' 'BRUMADO'
 'FEIRA DE SANTANA' 'ITATIM' 'ALCOBACA' 'SALVADOR' 'BOTUPORA'
 'NOVA VICOSA' 'SERRINHA' 'CRUZ DAS ALMAS' 'CONCEICAO DO COITE' 'SAUDE'
 'CAETANOS' 'QUIXABEIRA' 'ARACI' 'JACOBINA' 'EUCLIDES DA CUNHA' 'MACAUBAS'
 'SANTO ANTONIO DE JESUS' 'ITAPE' 'CANARANA' 'MEDEIROS NETO' 'ITAGI'
 'MIGUEL CALMON' 'SENHOR DO BONFIM' 'GAVIAO' 'MAIQUINIQUE' 'SERRA DOURADA'
 'SAPEACU' 'ITAMARAJU' 'ITABUNA' 'ANAGE' 'URUCUCA' 'ITORORO'
 'PORTO SEGURO' 'IBIPEBA' 'CARAVELAS' 'LAGOA REAL' 'MUCURI' 'BELMONTE'
 'IUIU' 'SERROLANDIA' 'EUNAPOLIS' 'ITAPETINGA' 'LAFAIETE COUTINHO'
 'OUROLANDIA' 'MATINA' 'IBICARAI' 'ITAJUIPE' 'PALMAS DE MONTE ALTO'
 'LAURO DE FREITAS' 'BOA VISTA DO TUPIM' 'UNA' 'AMARGOSA' 'FEIRA DA MATA'
 'SITIO DO QUINTO' 'FILADELFIA' 'IBIPITANGA' 'ANGUERA' 'CAFARNAUM'
 'ITANHEM' 'TANHACU' 'IBIRATAIA' 'RIACHAO DO JACUIPE' 'SANTA LUZIA'
 'CAETITE' 'CALDEIRAO GRANDE' 'SENTO SE' 'AGUA FRIA' 'ARACAS' 'GUAJERU'
 'ITAMBE' 'MURITIBA' 'IPIAU' 'IBICUI' 'NOVA CANAA' 'ITAGUACU DA BAHIA'
 'APORA' 'RIACHAO DAS NEVES' 'PONTO NOVO' 'CANDEAL' 'CICERO DANTAS'
 'RAFAEL JAMBEIRO' 'IPECAETA' 'POCOES' 'ITARANTIM' 'IRAQUARA' 'MANSIDAO'
 'CACULE' 'SANTO AMARO' 'CURACA' 'SATIRO DIAS' 'BREJOES' 'DARIO MEIRA'
 'FORMOSA DO RIO PRETO' 'ADUSTINA' 'SANTA CRUZ DA VITORIA'
 'MULUNGU DO MORRO' 'SAO GONCALO DOS CAMPOS' 'CORIBE'
 'SANTA MARIA DA VITORIA' 'VARZEA NOVA' 'PAULO AFONSO' 'PRADO'
 'RIO DO PIRES' 'PARAMIRIM' 'PRESIDENTE DUTRA' 'BREJOLANDIA' 'ITAGIBA'
 'SEABRA' 'BARRO ALTO' 'BOM JESUS DA LAPA' 'SANTA CRUZ CABRALIA'
 'ITAGIMIRIM' 'CORACAO DE MARIA' 'LUIS EDUARDO MAGALHAES' 'MALHADA'
 'CANAVIEIRAS' 'ENCRUZILHADA' 'JAGUAQUARA' 'PRESIDENTE JANIO QUADROS'
 'GENTIO DO OURO' 'IBIASSUCE' 'APUAREMA' 'CATURAMA' 'COARACI' 'CORRENTINA'
 'ITAPITANGA' 'BUERAREMA' 'SANTA BARBARA' 'UIBAI' 'ITAETE'
 'SANTA TERESINHA' 'CAMACAN' 'AMERICA DOURADA' 'SOUTO SOARES' 'TAPIRAMUTA'
 'BOA NOVA' 'LAJEDO DO TABOCAL' 'TEODORO SAMPAIO' 'SANTALUZ' 'WAGNER'
 'ARATACA' 'IRECE' 'JITAUNA' 'IGAPORA' 'VERA CRUZ' 'SAO MIGUEL DAS MATAS'
 'IBITITA' 'PINTADAS' 'SANTO ESTEVAO' 'CAMPO FORMOSO' 'SERRA DO RAMALHO'
 'MAIRI' 'TUCANO' 'JOAO DOURADO' 'ITAPEBI' 'BIRITINGA' 'SAO DESIDERIO'
 'IBITIARA' 'NOVA FATIMA' 'MARACAS' 'BARRA' 'SAO FRANCISCO DO CONDE'
 'LICINIO DE ALMEIDA' 'WANDERLEY' 'ITAJU DO COLONIA'
 'CAMPO ALEGRE DE LOURDES' 'SANTA INES' 'CACHOEIRA' 'MACARANI'
 'MARCIONILIO SOUZA' 'AIQUARA' 'MALHADA DE PEDRAS' 'ANDARAI' 'JUAZEIRO'
 'GONGOGI' 'SANTA RITA DE CASSIA' 'VEREDA' 'ITABERABA'
 'SEBASTIAO LARANJEIRAS' 'DOM BASILIO' 'ANGICAL' 'UBATA' 'CARINHANHA'
 'SANTANA' 'BONITO' 'CANAPOLIS' 'PIRITIBA' 'ANTONIO GONCALVES' 'IBOTIRAMA'
 'URANDI' 'OLIVEIRA DOS BREJINHOS' 'BURITIRAMA' 'PEDRO ALEXANDRE'
 'BARRA DO ROCHA' 'PARATINGA' 'POJUCA' 'FLORESTA AZUL' 'ERICO CARDOSO'
 'TERRA NOVA' 'LAJEDINHO' 'CONDEUBA' 'CONCEICAO DO JACUIPE'
 'NOVA REDENCAO' 'NOVO HORIZONTE' 'QUIJINGUE' 'ELISIO MEDRADO' 'FATIMA'
 'SIMOES FILHO' 'LAPAO' 'PALMEIRAS' 'ITUACU' 'PLANALTINO' 'ITIRUCU'
 'UTINGA' 'BROTAS DE MACAUBAS' 'SAO FELIX DO CORIBE' 'GUARATINGA' 'ITIUBA'
 'PLANALTO' 'MAETINGA' 'MORRO DO CHAPEU' 'NOVA ITARANA' 'BARRA DO MENDES'
 'UAUA' 'JACARACI' 'CAMACARI' 'BANZAE' 'CAPIM GROSSO' 'REMANSO' 'CAATIBA'
 'IBICOARA' 'BARRA DO CHOCA' 'NAZARE' 'CAPELA DO ALTO ALEGRE'
 'NILO PECANHA' 'ITACARE' 'SAO GABRIEL' 'VALENCA' 'PAU BRASIL' 'JEREMOABO'
 'PARIPIRANGA' 'JABORANDI' 'BARRO PRETO' 'ITABELA' 'CORDEIROS'
 'RIO DE CONTAS' 'LIVRAMENTO DE NOSSA SENHORA' 'MORTUGABA' 'IPIRA'
 'ITUBERA' 'IRAMAIA' 'COTEGIPE' 'CABACEIRAS DO PARAGUACU' 'JUSSARI'
 'SAO JOSE DO JACUIPE' 'GLORIA' 'CORONEL JOAO SA' 'BOQUIRA' 'CANUDOS'
 'CANDIBA' 'JUSSARA' 'CANDIDO SALES' 'IPUPIARA' 'RIBEIRAO DO LARGO'
 'CATOLANDIA' 'VARZEA DO POCO' 'UBAITABA' 'CONCEICAO DA FEIRA'
 'FIRMINO ALVES' 'CATU' 'CRISTOPOLIS' 'TAPEROA' 'ABAIRA' 'CASTRO ALVES'
 'GANDU' 'RUY BARBOSA' 'BAIANOPOLIS' 'ITAPARICA' 'RIO REAL' 'PIRIPA'
 'SAO FELIPE' 'MATA DE SAO JOAO' 'UMBURANAS' 'IBIQUERA' 'CRAVOLANDIA'
 'IRARA' 'CONCEICAO DO ALMEIDA' 'PINDAI' 'BAIXA GRANDE' 'MILAGRES'
 'GOVERNADOR MANGABEIRA' 'JUCURUCU' 'CENTRAL' 'MACAJUBA' 'IACU' 'UBAIRA'
 'DOM MACEDO COSTA' 'JAGUARARI' 'CAEM' 'VARZEA DA ROCA' 'LAMARAO'
 'POTIRAGUA' 'IGUAI' 'PINDOBACU' 'MORPARA' 'CARAIBAS' 'XIQUE-XIQUE'
 'MONTE SANTO' 'BARROCAS' 'CAMAMU' 'ACAJUTIBA' 'MARAU' 'SANTA BRIGIDA'
 'ALAGOINHAS' "DIAS D'AVILA" 'ANDORINHA' 'PILAO ARCADO' 'BARRA DA ESTIVA'
 'MUNDO NOVO' 'MUQUEM DE SAO FRANCISCO' 'TREMEDAL' 'WENCESLAU GUIMARAES'
 'NORDESTINA' 'ITAQUARA' 'IRAJUBA' 'NOVA IBIA' 'AMELIA RODRIGUES'
 'HELIOPOLIS' 'MIRANGABA' 'CIPO' 'PE DE SERRA' 'MASCOTE' 'PIRAI DO NORTE'
 'MUTUIPE' 'MARAGOGIPE' 'TANQUINHO' 'IBIRAPITANGA' 'ANTAS' 'NOVA SOURE'
 'CANSANCAO' 'MIRANTE' 'LAJE' 'CARDEAL DA SILVA' 'SANTANOPOLIS'
 'SAO JOSE DA VITORIA' 'TEOFILANDIA' 'AURELINO LEAL' 'MUNIZ FERREIRA'
 'TABOCAS DO BREJO VELHO' 'CRISOPOLIS' 'CASA NOVA' 'ITAPICURU' 'CONDE'
 'CANDEIAS' 'SOBRADINHO' 'CAIRU' 'ABARE' 'JANDAIRA' 'JUSSIAPE' 'LENCOIS'
 'MADRE DE DEUS' 'CHORROCHO' 'PRESIDENTE TANCREDO NEVES' 'INHAMBUPE'
 'SAO FELIX' 'TEOLANDIA' 'RIBEIRA DO AMPARO' 'NOVO TRIUNFO' 'JAGUARIPE'
 'SAO DOMINGOS' 'MACURURE' 'RODELAS' 'JIQUIRICA' 'ESPLANADA' 'IBIRAPUA'
 'RETIROLANDIA' 'CONTENDAS DO SINCORA' 'ARACATU' 'QUEIMADAS' 'IGRAPIUNA'
 'ANTONIO CARDOSO' 'ENTRE RIOS' 'SITIO DO MATO' 'ARATUIPE' 'SAUBARA'
 'OLINDINA' 'BELO CAMPO' 'VARZEDO' 'ALMADINA' 'BONINAL' 'SERRA PRETA'
 'ARAMARI' 'MUCUGE' 'ITAMARI' 'PEDRAO' 'SALINAS DA MARGARIDA' 'OURICANGAS']

Valores únicos da coluna 'UF_RESI':
[29]

Valores únicos da coluna 'MUN_INFEC':
['AIQUARA' nan 'LAJEDAO' 'TANQUE NOVO' 'RIO DO ANTONIO' 'ICHU' 'JEQUIE'
 'ILHEUS' 'RIBEIRA DO POMBAL' 'RIACHO DE SANTANA' 'BRUMADO' 'ALCOBACA'
 'MARACAS' 'BOTUPORA' 'CRUZ DAS ALMAS' 'CONCEICAO DO COITE' 'CAETANOS'
 'SERRINHA' 'SANTO ANTONIO DE JESUS' 'CANARANA' 'MEDEIROS NETO' 'ITAGI'
 'MIGUEL CALMON' 'SENHOR DO BONFIM' 'MAIQUINIQUE' 'SERRA DOURADA'
 'ITAMARAJU' 'ITABUNA' 'BELMONTE' 'ITAJUIPE' 'CARAVELAS' 'AMARGOSA'
 'SITIO DO QUINTO' 'FILADELFIA' 'MANOEL VITORINO' 'IBIPITANGA' 'ANGUERA'
 'CAFARNAUM' 'MUCURI' 'TANHACU' 'SALVADOR' 'CAETITE' 'GUANAMBI' 'IBICARAI'
 'CALDEIRAO GRANDE' 'MACAUBAS' 'TEIXEIRA DE FREITAS' 'MURITIBA'
 'BARREIRAS' 'CANDEAL' 'CICERO DANTAS' 'GAVIAO' 'IPECAETA' 'ITARANTIM'
 'MANSIDAO' 'CACULE' 'SAPEACU' 'NOVA VICOSA' 'QUIXABEIRA' 'SENTO SE'
 'SANTA CRUZ DA VITORIA' 'URUCUCA' 'MULUNGU DO MORRO' 'ARACI' 'UNA'
 'POCOES' 'SANTA MARIA DA VITORIA' 'RIO DO PIRES' 'PARAMIRIM' 'ITORORO'
 'SEABRA' 'BARRO ALTO' 'BOM JESUS DA LAPA' 'LUIS EDUARDO MAGALHAES'
 'SAO GONCALO DOS CAMPOS' 'CORIBE' 'GENTIO DO OURO' 'LAGOA REAL'
 'CORRENTINA' 'BUERAREMA' 'IBICUI' 'IBIPEBA' 'VITORIA DA CONQUISTA'
 'NOVA CANAA' 'PAULO AFONSO' 'BOA NOVA' 'WAGNER' 'ITANHEM' 'IRECE'
 'PORTO SEGURO' 'IBITITA' 'COARACI' 'MATINA' 'ITAPEBI' 'IBITIARA'
 'IGAPORA' 'CAMPO ALEGRE DE LOURDES' 'VARZEA NOVA' 'MACARANI'
 'MARCIONILIO SOUZA' 'MALHADA' 'ITATIM' 'WANDERLEY' 'DOM BASILIO'
 'CAMACAN' 'IRAQUARA' 'SANTANA' 'BONITO' 'MAIRI' 'IBIASSUCE'
 'ANTONIO GONCALVES' 'IBOTIRAMA' 'ANDARAI' 'ESPINOSA' 'BURITIRAMA'
 'NOVA REDENCAO' 'LAPAO' 'PALMEIRAS' 'ITUACU' 'JAGUAQUARA'
 'OLIVEIRA DOS BREJINHOS' 'NOVO HORIZONTE' 'MORRO DO CHAPEU' 'ITIRUCU'
 'BARRA DO MENDES' 'SOUTO SOARES' 'ITAGIBA' 'CAMACARI' 'CAPIM GROSSO'
 'ADUSTINA' 'LICINIO DE ALMEIDA' 'REMANSO' 'OUROLANDIA'
 'FORMOSA DO RIO PRETO' 'TREMEDAL' 'LAJEDO DO TABOCAL' 'ITACARE'
 'SAO GABRIEL' 'SERRA DO RAMALHO' 'JEREMOABO' 'SANTO ESTEVAO'
 'ENCRUZILHADA' 'ELISIO MEDRADO' 'MORTUGABA' 'IPIRA' 'ITUBERA'
 'PRESIDENTE DUTRA' 'ITAETE' 'LIVRAMENTO DE NOSSA SENHORA'
 'BARRA DO CHOCA' 'CAPELA DO ALTO ALEGRE' 'ITABERABA' 'CANDIBA'
 'IBIRATAIA' 'JACOBINA' 'QUIJINGUE' 'VARZEA DO POCO' 'BANZAE' 'JABORANDI'
 'UBAITABA' 'CONCEICAO DA FEIRA' 'FIRMINO ALVES' 'CATU'
 'SAO FELIX DO CORIBE' 'VALENCA' 'RIO DE CONTAS' 'PLANALTO' 'IPIAU'
 'IRAMAIA' 'ABAIRA' 'BAIANOPOLIS' 'CAMPO FORMOSO' 'IBIQUERA'
 'SAO DESIDERIO' 'IRARA' 'PINDAI' 'MILAGRES' 'DARIO MEIRA' 'SIMOES FILHO'
 'JUCURUCU' 'UIBAI' 'PARIPIRANGA' 'BOQUIRA' 'FEIRA DE SANTANA' 'CAEM'
 'IPUPIARA' 'CONCEICAO DO ALMEIDA' 'CARAIBAS' 'PLANALTINO' 'CAMAMU'
 "DIAS D'AVILA" 'JUAZEIRO' 'NAZARE' 'JOAO DOURADO' 'WENCESLAU GUIMARAES'
 'ITAPITANGA' 'NOVA FATIMA' 'VERA CRUZ' 'VALENTE' 'BARRA'
 'EUCLIDES DA CUNHA' 'UBATA' 'MARAGOGIPE' 'GOVERNADOR MANGABEIRA'
 'NILO PECANHA' 'CANSANCAO' 'MIRANTE' 'CANDIDO SALES' 'CONDEUBA'
 'SAO JOSE DA VITORIA' 'POJUCA' 'PINTADAS' 'EUNAPOLIS' 'BARRO PRETO'
 'PE DE SERRA' 'CASA NOVA' 'NOVA IBIA' 'ANDORINHA' 'MUNDO NOVO' 'TUCANO'
 'IACU' 'CARINHANHA' 'ITAPARICA' 'LAURO DE FREITAS'
 'CABACEIRAS DO PARAGUACU' 'BARRA DA ESTIVA' 'ITAPE' 'CAMPINAS'
 'SAO SEBASTIAO DO PASSE' 'BRASILIA' 'CRISOPOLIS' 'ALAGOINHAS'
 'XIQUE-XIQUE' 'TEOFILANDIA' 'MUNIZ FERREIRA' 'PIRITIBA' 'LENCOIS'
 'RIO REAL' 'CHORROCHO' 'CAATIBA' 'RIACHAO DO JACUIPE' 'SAO FELIX'
 'FATIMA' 'SAO JOSE DO JACUIPE' 'CACHOEIRA' 'RIBEIRA DO AMPARO' 'GLORIA'
 'NOVO TRIUNFO' 'LAMARAO' 'ARATACA' 'SANTA BRIGIDA' 'JITAUNA'
 'CANAVIEIRAS' 'IBICOARA' 'RUY BARBOSA' 'BOA VISTA DO TUPIM' 'TAPEROA'
 'ITAPETINGA' 'PAU BRASIL' 'JUSSARI' 'SANTA CRUZ CABRALIA' 'UBAIRA'
 'SAO PAULO' 'SAO DOMINGOS' 'PARATINGA' 'IBIRAPITANGA' 'IBIRAPUA'
 'MALHADA DE PEDRAS' 'MADRE DE DEUS' 'SERROLANDIA' 'CONTENDAS DO SINCORA'
 'TANQUINHO' 'SAO FRANCISCO DO CONDE' 'RETIROLANDIA' 'SANTA BARBARA'
 'CRISTOPOLIS' 'ENTRE RIOS' 'ARATUIPE' 'SEBASTIAO LARANJEIRAS' 'CANUDOS'
 'BARROCAS' 'PRESIDENTE TANCREDO NEVES' 'RAFAEL JAMBEIRO' 'SITIO DO MATO'
 'TEOLANDIA' 'PILAO ARCADO' 'MUTUIPE' 'SOBRADINHO' 'ANTAS' 'ITABELA'
 'BROTAS DE MACAUBAS' 'ITIUBA' 'GUARATINGA' 'TERRA NOVA' 'IUIU'
 'CORONEL JOAO SA' 'AMERICA DOURADA' 'SANTA RITA DE CASSIA' 'VEREDA'
 'GONGOGI' 'CATURAMA' 'FLORESTA AZUL' 'SANTA INES' 'PIRIPA' 'DIANOPOLIS'
 'SAUDE' 'COTEGIPE' 'AGUA FRIA' 'MATA DE SAO JOAO' 'CANDEIAS' 'ARAMARI'
 'COCOS' 'SANTO AMARO' 'ANTONIO CARDOSO' 'CORACAO DE MARIA'
 'ERICO CARDOSO' 'RIACHAO DAS NEVES' 'BREJOLANDIA' 'MONTE SANTO'
 'JACARACI' 'SANTA TERESINHA' 'AMELIA RODRIGUES' 'CENTRAL' 'JUSSARA'
 'QUEIMADAS' 'SERRA TALHADA' 'ANGICAL' 'PALMAS DE MONTE ALTO' 'URANDI'
 'ABARE' 'UAUA' 'UTINGA' 'ITAMARI' 'CONCEICAO DO JACUIPE' 'APORA'
 'INHAMBUPE' 'OLINDINA' 'CASTRO ALVES' 'PEDRO ALEXANDRE' 'GANDU'
 'NORDESTINA' 'PEDRAO' 'CIPO' 'CAIRU' 'PRADO' 'OURICANGAS'
 'PIRAI DO NORTE' 'IGUAI']

Valores únicos da coluna 'UF_INFEC':
[29. nan 31. 35. 53. 17. 26.]

Valores únicos da coluna 'IDADE':
[30. 28. 24.  8. 51. 42. 70. 12. 18. 20. 53. 27. 17. 19. 45. 60. 65. 43.
  5. 21. 32.  6. 15. 13. 23. 11. 34.  4. 31. 29. 47. 35. 39. 26. 37.  7.

In [79]:
# Filtrar o DataFrame para as linhas onde a idade é menor que 18
idade_menor_que_18 = df[df['IDADE'] < 18]

# Retornar as colunas "Dt_Nasc" e "IDADE" para essas linhas
dt_nasc_idade_abaixo_de_18 = idade_menor_que_18[['DT_NASC', 'IDADE', 'DT_NOTIFIC']]

# Exibir as datas de nascimento e as idades onde a idade é menor que 18
print("Datas de nascimento e idades onde a idade é abaixo de 18:")
print(dt_nasc_idade_abaixo_de_18)

Datas de nascimento e idades onde a idade é abaixo de 18:
          DT_NASC  IDADE  DT_NOTIFIC
3      2004-12-29    8.0  2013-01-01
7      2000-09-05   12.0  2013-01-02
14     1995-01-20   17.0  2013-01-03
21     2007-12-24    5.0  2013-01-04
22     2000-10-28   12.0  2013-01-04
...           ...    ...         ...
38547  2012-01-03    7.0  2019-12-27
38552  2002-02-09   17.0  2019-12-27
38553  2017-02-20    2.0  2019-12-27
38554  2018-06-12    1.0  2019-12-27
38561  2017-06-20    2.0  2019-12-28

[10068 rows x 3 columns]

In [88]:
import pandas as pd

# Suponha que df seja o DataFrame

# Convertendo as colunas de datas para o tipo datetime
df[['DT_NOTIFIC', 'DT_NASC']] = df[['DT_NOTIFIC', 'DT_NASC']].apply(pd.to_datetime)

# Calcular a diferença em dias entre DT_NOTIFIC e DT_NASC e depois em anos
df['DIFERENCA_ANOS'] = abs((df['DT_NOTIFIC'] - df['DT_NASC']).dt.days) // 365

# Exibir as colunas de idade e diferença em anos lado a lado
print(df[['IDADE', 'DIFERENCA_ANOS']])

       IDADE  DIFERENCA_ANOS
0       30.0              30
1       28.0              28
2       24.0              24
3        8.0               8
4       51.0              51
...      ...             ...
38564   34.0              34
38565   38.0              38
38566   23.0              23
38567   28.0              28
38568   62.0              62

[38569 rows x 2 columns]

In [89]:
import pandas as pd

# Suponha que df seja o DataFrame

# Convertendo as colunas de datas para o tipo datetime
df[['DT_NOTIFIC', 'DT_NASC']] = df[['DT_NOTIFIC', 'DT_NASC']].apply(pd.to_datetime)

# Calcular a diferença em dias entre DT_NOTIFIC e DT_NASC e depois em anos
df['DIFERENCA_ANOS'] = abs((df['DT_NOTIFIC'] - df['DT_NASC']).dt.days) // 365

# Comparar apenas os dois primeiros dígitos da idade e da diferença em anos
df['IDADE_PRIMEIROS_DIGITOS'] = df['IDADE'].astype(str).str[:2]
df['DIFERENCA_ANOS_PRIMEIROS_DIGITOS'] = df['DIFERENCA_ANOS'].astype(str).str[:2]

# Exibir as condições na tela
print("Comparando os dois primeiros dígitos da idade e da diferença em anos:")
print(df[['IDADE_PRIMEIROS_DIGITOS', 'DIFERENCA_ANOS_PRIMEIROS_DIGITOS']])

Comparando os dois primeiros dígitos da idade e da diferença em anos:
      IDADE_PRIMEIROS_DIGITOS DIFERENCA_ANOS_PRIMEIROS_DIGITOS
0                          30                               30
1                          28                               28
2                          24                               24
3                          8.                                8
4                          51                               51
...                       ...                              ...
38564                      34                               34
38565                      38                               38
38566                      23                               23
38567                      28                               28
38568                      62                               62

[38569 rows x 2 columns]

In [63]:
# Verificar duplicatas com base em ID_PESSOA, NU_NOTIFIC e NOME
duplicatas = df[df.duplicated(subset=['ID_PESSOA', 'NU_NOTIFIC', 'NOME'], keep=False)]

# Exibir os casos duplicados com base nessas colunas
if not duplicatas.empty:
    print("Casos duplicados encontrados:")
    print(duplicatas)
else:
    print("Não há casos duplicados.")

Não há casos duplicados.

In [67]:
# Verificar duplicatas na coluna ID_PESSOA
duplicatas_NOME = df[df.duplicated(subset=['NOME'], keep=False)]

# Exibir os números repetidos na coluna ID_PESSOA
if not duplicatas_NOME.empty:
    print("Números repetidos na coluna NOME:")
    print(duplicatas_NOME['NOME'].unique())
else:
    print("Não há números repetidos na coluna NOME.")

Números repetidos na coluna NOME:
['IRACI ABREU AGUIAR' 'SERGIO MARTINS LIMA RAMOS'
 'MARIANA FERREIRA CARVALHO CAMPOS ALVES'
 'RONALDO OLIVEIRA SOARES OLIVEIRA' 'IRENE FERREIRA VIEIRA AGUIAR BO'
 'HILDA LAUDO SOUZA' 'CECILIA MATOS CARDOSO CARDOSO VIANA'
 'TANIA MATOS JUNIOR SANTANA SOUZA' 'IZABEL SOARES GUIMARAES ROSA'
 'MANOEL CORREIA GARCIA' 'MARLI MIRANDA REIS CARNEIRO'
 'RITA BARROS MENEZES AMORIM RIBEIRO' 'SEVERINA MENDES AMORIM FREITAS'
 'TERESINHA MELO SILVA' 'LEONARDO SANTOS LEITE'
 'ANGELINA SILVA ROCHA ABREU FREITAS'
 'FRANCISCA DUARTE FARIAS LEITE SOARES' 'IRACEMA GARCIA CORREIA'
 'VALDEMAR MONTEIRO NETO' 'NATIMORTO CARVALHO ABREU RODRIGUES TAVARES'
 'MARILENE FERNANDES CARDOSO' 'MARILENE CAMPOS AZEVEDO'
 'FRANCISCO MENDES GARCIA MOTA' 'GUILHERME ANDRADE ASSIS ABREU MELO'
 'BEATRIZ ROBERTO PEREIRA FONSECA' 'JOAQUIM CESAR ANDRADE SOUZA'
 'BRUNO CARDOSO MOURA' 'BEATRIZ CAMPOS SILVA MORAIS TEIXEIRA'
 'OLIVIA ABREU OLIVEIRA CAVALCANTE GUIMARAES'
 'ROSALINA MONTEIRO ASSIS SOUZA' 'FLAVIO MARQUES MACHADO'
 'DAVID ASSIS MARTINS OLIVEIRA' 'MAURO MACHADO VIANA' 'ROSA NUNES MARTINS'
 'ARNALDO MARQUES VIANA' 'ROSA SILVEIRA LEITE FARIAS'
 'TERESINHA LUCIA AZEVEDO' 'SEVERINO CRUZ AGUIAR ASSIS ROSA'
 'THEREZA PIRES GONCALVES GUIMARAES FREITAS' 'THEREZA SOARES SOUSA JUNIOR'
 'PATRICIA CARNEIRO FARIAS' 'LOURDES SOUZA GOMES'
 'CELIA NASCIMENTO CORREA' 'DALVA MATOS ALVES ANDRADE'
 'GILBERTO BRITO OLIVEIRA SIQUEIRA' 'SUELI MONTEIRO CARVALHO BARROS LOPES'
 'EDITE CARNEIRO BO' 'ZILDA BARROS FRANCA'
 'AMELIA NASCIMENTO MORAES MACIEL CAMPOS' 'APARECIDA SOUSA GUIMARAES'
 'IRACI MACEDO BARROS' 'MARCIO RIBEIRO XAVIER MELO' 'DAVI VIANA SANTANA'
 'ROSALINA ROSA SILVA' 'BENEDITA CARNEIRO BORGES LIMA'
 'JOAO GOMES BARBOSA GARCIA ABREU' 'ALCIDES BATISTA JUNIOR'
 'SILVIA BATISTA NEVES GUIMARAES PAULA'
 'TERESINHA BARROS LUCIA ARAUJO AZEVEDO'
 'CICERO NUNES CESAR SILVEIRA GONCALVES' 'SERGIO CRUZ ROBERTO'
 'BEATRIZ REIS TAVARES' 'MANOEL FARIAS MOREIRA SANTOS'
 'CLAUDIA CORREIA COSTA ROSA' 'JULIO SANTANA MACIEL'
 'NILTON FILHO PIRES MIRANDA' 'LIDIA ALBERTO BARROS'
 'ADRIANA PEREIRA FRANCA' 'ADRIANO MARQUES MARTINS'
 'EDSON CUNHA AZEVEDO FILHO PINHEIRO' 'IRACI AZEVEDO FREITAS'
 'CELINA CRUZ SOUSA' 'JOEL GONCALVES GONCALVES' 'NEIDE MOREIRA PIRES'
 'CECILIA VIANA MATOS CORDEIRO BORGES' 'IRACI FARIAS NASCIMENTO'
 'JOSE CUNHA PAULA CORDEIRO PAULA' 'JOANA MELO LAUDO ALMEIDA CARNEIRO'
 'OLIVIA NOGUEIRA FILHO MARQUES' 'TEREZA VIEIRA MELO'
 'ADRIANA CORREIA MELO COELHO PEREIRA'
 'CARLOS GARCIA ALMEIDA BORGES JUNIOR' 'ANDRE QUEIROZ RODRIGUES CRUZ'
 'RN MACHADO VIEIRA' 'ILDA QUEIROZ ANDRADE CASTRO VIEIRA'
 'EDITE FONSECA ROCHA' 'FLAVIO ASSIS MACIEL PINTO'
 'MARCELO DUARTE QUEIROZ' 'ANNA ROBERTO CORREIA' 'ANTONIO BO MACEDO'
 'AMELIA MACHADO VIANA' 'OSVALDO PINTO GONCALVES'
 'ROSANGELA ALVES CARNEIRO' 'ALZIRA CRUZ FERNANDES'
 'LUCAS PEREIRA SOARES AGUIAR' 'OLIVIA ALMEIDA DUARTE'
 'ROGERIO BORGES FRANCA ROCHA' 'ROSA MARQUES CARMO CESAR SIQUEIRA'
 'NILTON DIAS LAUDO CARDOSO MOREIRA' 'FERNANDO ALMEIDA AZEVEDO'
 'RICARDO PEREIRA FRANCA XAVIER' 'GERALDA FERNANDES AMORIM'
 'APARECIDA JUNIOR MATOS SILVEIRA' 'ANDRE ANDRADE AMARAL MIRANDA'
 'ALZIRA CASTRO CAVALCANTE' 'ADRIANA GARCIA SOUSA'
 'THEREZA TEIXEIRA CARMO BRITO' 'GENI VIANA AMORIM MELO'
 'ANNA MENEZES CARNEIRO RAMOS NASCIMENTO'
 'BENEDITA CAMPOS BEZERRA CAVALCANTE'
 'ANNA MACIEL CASTRO RIBEIRO PINHEIRO' 'ALICE ROBERTO MOURA RODRIGUES'
 'ROGERIO MACIEL MATOS GARCIA' 'LUIS JUNIOR MOREIRA'
 'IRACI ROSA CORREIA CRUZ AMORIM' 'BENEDITO NOGUEIRA ALVES MACEDO'
 'RN MELO AMORIM GUIMARAES MENDES' 'FERNANDO TAVARES REIS SOARES CORREA'
 'FLAVIO PINTO ASSIS ALBERTO' 'PEDRO ABREU COSTA MOREIRA'
 'BENEDITO MOREIRA RODRIGUES' 'SEVERINO SOUZA PEREIRA'
 'THEREZINHA PEREIRA TAVARES AGUIAR'
 'CICERA AZEVEDO ALBERTO CAVALCANTE PAULA'
 'ALBERTO MARQUES CARDOSO SILVEIRA CARVALHO'
 'ELVIRA ALVES BARROS CUNHA DUARTE' 'ZILDA PIRES SANTOS BARROS FERREIRA'
 'AMELIA CARNEIRO DUARTE JUNIOR' 'JULIA ALVES QUEIROZ'
 'FERNANDO DIAS FREITAS' 'MARLI ROBERTO ANDRADE'
 'REINALDO FREITAS QUEIROZ' 'RUTH PIRES DUARTE ANDRADE'
 'HELENA NASCIMENTO NEVES' 'BEATRIZ OLIVEIRA BORGES'
 'DAVID CAVALCANTE ALVES' 'TERESA PINHEIRO RAMOS RAMOS'
 'ELVIRA COSTA CORREIA ALBERTO' 'CELINA CARDOSO VIANA FERREIRA BRITO'
 'IRENE NASCIMENTO MORAES' 'ODETE PIRES CARVALHO FARIAS'
 'ROSANGELA MARQUES MEDEIROS CARNEIRO SANTANA'
 'ELZA PEREIRA MOREIRA FERREIRA' 'MOACIR ROCHA MORAIS ANDRADE CRUZ'
 'JOEL FERREIRA ALMEIDA' 'JOANA SOUSA DIAS PEREIRA SIQUEIRA'
 'ROSA MACHADO MATOS' 'TEREZINHA ASSIS RODRIGUES' 'SILVIA RIBEIRO MENEZES'
 'DOMINGOS ROBERTO REIS ALVES' 'BENEDITO SILVEIRA CORREA'
 'DIRCE MORAES LUCIA VIEIRA' 'ANTONIA ANDRADE AMARAL NEVES CESAR'
 'IRACEMA RODRIGUES NUNES' 'CLEONICE FERNANDES GONCALVES'
 'VERA PAULA SIQUEIRA' 'ALEXANDRE FREITAS JUNIOR PIRES'
 'GERALDA ASSIS FONSECA QUEIROZ RAMOS'
 'MARIA ASSIS CAVALCANTE FARIAS AGUIAR' 'LUIZA MOREIRA CARMO'
 'TEREZA NASCIMENTO MATOS QUEIROZ' 'SAMUEL MORAIS ALVES VIEIRA'
 'TEREZA CARNEIRO SOUZA' 'RAIMUNDA QUEIROZ BEZERRA FREITAS'
 'EDSON MELO TEIXEIRA' 'MARCELO LUCIA CUNHA' 'NILTON ANDRADE BO'
 'CELINA PEREIRA XAVIER' 'ROGERIO BATISTA AMARAL'
 'FRANCISCA FARIAS ANDRADE' 'CELINA FARIAS XAVIER MOURA'
 'TERESINHA CARVALHO MORAIS NEVES' 'MARIA ALBERTO CASTRO BO BO'
 'ANTONIO CARMO CASTRO NUNES' 'ILDA FREITAS ALBERTO FERREIRA'
 'JULIA NOGUEIRA FRANCA OLIVEIRA' 'VALDIR ABREU OLIVEIRA'
 'RAIMUNDO COSTA MORAIS' 'MARCIA MELO MOTA' 'HELIO VIEIRA ARAUJO MARQUES'
 'EDNA CARDOSO LEITE' 'JULIA VIEIRA JUNIOR GUIMARAES' 'RUTH JUNIOR GARCIA'
 'IZABEL FRANCA REIS' 'MANOEL LAUDO CARDOSO'
 'LUIZA MONTEIRO SOUSA NASCIMENTO' 'CECILIA COELHO REIS CARMO FREITAS'
 'BENEDITO MACHADO NEVES TEIXEIRA DIAS' 'MIGUEL TEIXEIRA MACEDO PIRES'
 'SEVERINA MARQUES MORAES' 'DIRCE COELHO MACHADO SILVA FREITAS'
 'NATIMORTO PAULA MELO' 'FERNANDO FILHO FERNANDES RIBEIRO CORREA'
 'NEUSA CARMO MORAIS OLIVEIRA' 'CARLOS FILHO AMARAL'
 'BENEDITA PAULA NOGUEIRA NASCIMENTO' 'RENATO FONSECA CARVALHO ALBERTO'
 'LUCIA REIS XAVIER NEVES NOGUEIRA' 'RODRIGO CASTRO MORAES'
 'SEBASTIAO SILVEIRA BARROS SIQUEIRA' 'HENRIQUE BARROS LOPES CAMPOS'
 'FM VIEIRA BO ROBERTO TEIXEIRA' 'MARLENE SIQUEIRA CAVALCANTE CESAR RAMOS'
 'CECILIA PIRES VIEIRA ASSIS FARIAS' 'JOSEFA VIEIRA SOARES'
 'RICARDO FILHO CARDOSO ALBERTO' 'ALBERTO AMORIM MENDES TEIXEIRA'
 'GERALDA AMARAL LEITE CUNHA' 'ALEXANDRE NUNES MATOS'
 'LUCIANO AZEVEDO CARVALHO' 'FM AMARAL GONCALVES'
 'NELSON NEVES MENEZES BO MORAES' 'MARCIA AMARAL RIBEIRO SANTOS MORAIS'
 'DALVA RAMOS SANTANA CESAR AGUIAR' 'GENI COELHO BO SANTOS'
 'CICERA OLIVEIRA ALBERTO' 'LEANDRO ALBERTO MONTEIRO'
 'SONIA GUIMARAES MORAIS CESAR ALBERTO' 'ADRIANA ROBERTO OLIVEIRA'
 'IRACI COSTA OLIVEIRA BORGES LIMA' 'EUNICE ALVES MORAIS'
 'NILZA MORAES ALMEIDA' 'ALFREDO NEVES CASTRO'
 'TEREZA BARROS SANTOS MACEDO' 'ANTONIO BORGES FARIAS'
 'MARTA FREITAS DIAS MENEZES MENEZES' 'JAIR FONSECA NASCIMENTO AZEVEDO'
 'CELINA ANDRADE REIS ARAUJO' 'OSVALDO LUCIA TAVARES'
 'ADRIANA CAVALCANTE CARDOSO NETO' 'MARINA MACHADO CARNEIRO MENEZES'
 'IRACEMA CASTRO QUEIROZ SIQUEIRA AMARAL' 'MANOEL CRUZ ARAUJO'
 'ANDRE NASCIMENTO COELHO FERREIRA COELHO' 'TEREZINHA ARAUJO BATISTA'
 'DIRCE PAULA AMARAL' 'ANGELA PEREIRA RIBEIRO PINHEIRO CORREIA'
 'EDSON ANDRADE BATISTA MARTINS' 'ROSALINA BO GARCIA RODRIGUES'
 'WALTER PAULA LEITE MACHADO' 'RAIMUNDO ALVES XAVIER LIMA'
 'ELVIRA CESAR FONSECA MACHADO' 'SEBASTIANA BARROS SOUZA PAULA'
 'ISABEL SANTOS CORREA ROSA' 'ELZA GUIMARAES ALVES FERREIRA'
 'MARINA JUNIOR BRITO ASSIS QUEIROZ'
 'FRANCISCA BARROS ANDRADE ROSA ROBERTO' 'FRANCISCA FARIAS SOARES ARAUJO'
 'ISABEL FREITAS NUNES CUNHA' 'BRUNO FERREIRA MORAES CASTRO BARROS'
 'LUZIA MACHADO GOMES LOPES' 'BEATRIZ ARAUJO CASTRO'
 'JOSEFA ALMEIDA ROBERTO PINHEIRO' 'ELZA PIRES TAVARES SOUSA'
 'NADIR SILVA CORDEIRO ARAUJO' 'LIDIA AMORIM GOMES'
 'MILTON MONTEIRO SILVA NUNES ALBERTO' 'DAVID CRUZ SIQUEIRA PIRES'
 'MARIO CARDOSO PINTO RODRIGUES'
 'RAIMUNDO CORDEIRO RODRIGUES MEDEIROS CRUZ' 'MANOEL VIANA MOREIRA MORAIS'
 'OLGA MIRANDA LEITE BARBOSA DUARTE' 'CLAUDIA FERNANDES SILVA'
 'SEVERINO MORAES BO REIS' 'LUCIANA CASTRO GONCALVES GARCIA PAULA'
 'HELIO MACIEL BARROS SANTANA' 'LEONARDO CORREA LUCIA PINHEIRO'
 'RN MACIEL PEREIRA LOPES' 'DAVI BARBOSA VIEIRA CORDEIRO SOUSA'
 'TERESA COELHO FILHO' 'CONCEICAO BRITO LIMA'
 'CLAUDIO ANDRADE LOPES ROCHA JUNIOR' 'HELIO SILVA VIANA NUNES COSTA'
 'ADRIANA CORDEIRO AGUIAR' 'CECILIA MACEDO ASSIS XAVIER SILVA'
 'GILBERTO CASTRO LIMA' 'TANIA MARQUES BARROS CARVALHO'
 'SEVERINO CESAR JUNIOR BARROS MIRANDA' 'MARCO BARBOSA ALMEIDA'
 'MANUEL SILVA SOUZA' 'ROGERIO ARAUJO GONCALVES'
 'SUELI LAUDO MARTINS FRANCA' 'IZABEL NOGUEIRA SILVEIRA'
 'RUTH ROSA MORAES' 'OLIVIA GONCALVES SANTOS DIAS' 'LUIS MOTA RODRIGUES'
 'RAIMUNDA BARBOSA ANDRADE MARTINS CASTRO' 'FM QUEIROZ MARQUES BORGES'
 'NAIR CORREA XAVIER' 'ROSALINA PIRES SIQUEIRA NASCIMENTO MACIEL'
 'VILMA ROSA CORREA' 'REGINA CARVALHO ANDRADE'
 'SILVIA BATISTA ASSIS SILVEIRA' 'WILSON LOPES GUIMARAES'
 'BEATRIZ COELHO GUIMARAES XAVIER' 'ROSA BO PIRES'
 'GERALDO GUIMARAES GONCALVES GARCIA AMORIM'
 'ZELIA OLIVEIRA SILVA ROSA ANDRADE' 'TERESA PIRES LUCIA SILVA'
 'REGINA CASTRO MARQUES COELHO CORREIA' 'MARGARIDA ROCHA DIAS GARCIA'
 'VICENTE ALMEIDA MENEZES' 'CECILIA NASCIMENTO NETO' 'EDNA CASTRO MATOS'
 'REINALDO AGUIAR MATOS VIEIRA CAVALCANTE'
 'MANUEL GARCIA SOUSA CRUZ CARDOSO'
 'MARGARIDA GONCALVES JUNIOR MORAES FERREIRA'
 'LUCIANA SANTANA FILHO MARQUES ROCHA' 'MIGUEL GONCALVES SILVA'
 'LUCIA BORGES CARVALHO SIQUEIRA' 'LUCAS AZEVEDO CORREIA RODRIGUES COSTA'
 'CELIA ASSIS CARNEIRO' 'ISABEL BARROS MENEZES'
 'DALVA BORGES JUNIOR NASCIMENTO' 'JOEL MORAIS BO' 'CLAUDIO ABREU MENEZES'
 'MARILENE VIANA RODRIGUES' 'NAIR MARTINS SOUSA FARIAS BO'
 'MARGARIDA MORAES SANTANA' 'LAURA FRANCA MARTINS LOPES'
 'IRACI BRITO NASCIMENTO' 'THEREZA GONCALVES NEVES'
 'CELINA MACHADO MACEDO' 'LUCIANO CASTRO CORREIA DUARTE CORDEIRO'
 'EMILIA CASTRO MOTA SOARES FERREIRA' 'HILDA SANTANA PINTO MACHADO'
 'ANDRE BARBOSA SOARES FILHO' 'EUNICE SILVEIRA PIRES AZEVEDO'
 'SERGIO VIEIRA BRITO' 'MARIANA SOUSA CORREIA SOARES'
 'TEREZINHA ANDRADE CUNHA LOPES DUARTE' 'ISABEL XAVIER MACHADO'
 'LUZIA CARVALHO FRANCA CORDEIRO SOARES' 'MARTA QUEIROZ ALVES LUCIA'
 'TEREZINHA FILHO CUNHA MENEZES FERREIRA' 'OSMAR ANDRADE CAMPOS'
 'REGINA LIMA COSTA CASTRO' 'LEONARDO CASTRO SOARES'
 'LIDIA ALBERTO RAMOS LEITE' 'RAIMUNDO CARMO MORAIS'
 'TEREZA MATOS RODRIGUES' 'NEUSA CARVALHO SILVEIRA CESAR MATOS'
 'GUILHERME FILHO JUNIOR' 'REGINA MENDES RIBEIRO' 'NEUSA BO AMARAL'
 'DANIEL MARQUES CARVALHO LOPES' 'MARCELO FONSECA JUNIOR'
 'MARINA MARTINS COSTA MARQUES VIEIRA' 'PAULO CESAR ROBERTO DIAS MATOS'
 'REINALDO ARAUJO SIQUEIRA' 'SOLANGE OLIVEIRA ROCHA'
 'FRANCISCO MONTEIRO CARVALHO LAUDO' 'LUZIA CESAR LEITE FERNANDES'
 'ALBERTO MENEZES RIBEIRO LOPES RODRIGUES'
 'ELIAS BRITO FARIAS NEVES CASTRO' 'SONIA LEITE AZEVEDO ABREU'
 'RITA LUCIA CORREA MOURA ROSA' 'RUBENS GARCIA MELO COELHO'
 'FABIO CAMPOS DUARTE' 'MARILENE BARROS TAVARES'
 'SANDRA BEZERRA SANTOS ABREU MENDES'
 'CECILIA MOREIRA AGUIAR ALMEIDA CAVALCANTE'
 'FATIMA ROBERTO CAMPOS ROBERTO CORREIA' 'FM FONSECA MACIEL'
 'CARLOS ROSA VIANA' 'HELENA CAMPOS CARDOSO' 'HENRIQUE LAUDO NOGUEIRA'
 'JOANA MACIEL PIRES CAVALCANTE' 'SONIA MELO CESAR'
 'SUELI RIBEIRO MACHADO' 'ALFREDO PINHEIRO JUNIOR FREITAS BARROS'
 'LIDIA SANTANA CUNHA' 'EUNICE REIS FERNANDES'
 'ROSA FERREIRA RODRIGUES MOURA SOUSA'
 'GERALDO FILHO CARVALHO ABREU CORREIA' 'FM GONCALVES MACEDO'
 'IRACI FONSECA VIANA' 'TERESA ROSA CASTRO CARMO'
 'IRACEMA MONTEIRO COSTA FERNANDES TEIXEIRA' 'NADIR PINTO GOMES'
 'SOLANGE GONCALVES PEREIRA MORAES' 'ALEXANDRE CUNHA PEREIRA RAMOS MORAIS'
 'MARCIA BEZERRA NUNES SOUZA VIANA' 'CARMEN MACHADO LIMA TAVARES CARMO'
 'RUTH PAULA BARBOSA CORDEIRO' 'IRENE LAUDO CAVALCANTE JUNIOR NETO'
 'FM ASSIS LAUDO TEIXEIRA' 'ODETE FERREIRA QUEIROZ'
 'LUIZA RODRIGUES VIANA' 'SUELI RIBEIRO BEZERRA LOPES ALMEIDA'
 'MAURO TEIXEIRA VIANA' 'ELIAS SIQUEIRA MOTA DIAS'
 'ZILDA CAVALCANTE MEDEIROS' 'NEIDE QUEIROZ LEITE'
 'CELINA NOGUEIRA RIBEIRO TAVARES' 'EDITE MATOS VIEIRA'
 'ELVIRA RIBEIRO MACIEL' 'IRACEMA SILVEIRA FRANCA BORGES'
 'ISABEL CESAR MONTEIRO RODRIGUES' 'LUCIA FREITAS PINHEIRO'
 'CELINA MACEDO SIQUEIRA MIRANDA AMORIM']

In [70]:
# Verificar duplicatas na coluna NU_NOTIFIC
duplicatas_NU_NOTIFIC = df[df.duplicated(subset=['NU_NOTIFIC'], keep=False)]

# Exibir os números repetidos na coluna NU_NOTIFIC
if not duplicatas_NU_NOTIFIC.empty:
    print("Números repetidos na coluna NU_NOTIFIC:")
    print(duplicatas_NU_NOTIFIC[['NU_NOTIFIC']].drop_duplicates())
else:
    print("Não há números repetidos na coluna NU_NOTIFIC.")

Não há números repetidos na coluna NU_NOTIFIC.

In [69]:
# Verificar duplicatas na coluna ID_PESSOA
duplicatas_ID_PESSOA = df[df.duplicated(subset=['ID_PESSOA'], keep=False)]

# Exibir os nomes repetidos associados aos IDs duplicados
if not duplicatas_ID_PESSOA.empty:
    print("Nomes associados aos IDs PESSOA duplicados:")
    print(duplicatas_ID_PESSOA[['ID_PESSOA', 'NOME']].drop_duplicates())
else:
    print("Não há IDs PESSOA duplicados.")

Nomes associados aos IDs PESSOA duplicados:
                            ID_PESSOA                                    NOME
25     290320-290320-2006-09-04-F-4.0                      IRACI ABREU AGUIAR
84     292870-292870-1999-11-27-M-9.0               SERGIO MARTINS LIMA RAMOS
93     293135-293135-1982-08-18-F-4.0  MARIANA FERREIRA CARVALHO CAMPOS ALVES
115    292740-292740-1983-06-14-M-9.0        RONALDO OLIVEIRA SOARES OLIVEIRA
148    293135-293135-1970-03-13-F-4.0         IRENE FERREIRA VIEIRA AGUIAR BO
...                               ...                                     ...
37074  292740-292740-1969-04-08-F-9.0                   ELVIRA RIBEIRO MACIEL
37193  290980-290980-1990-10-19-F-2.0          IRACEMA SILVEIRA FRANCA BORGES
37924  292740-292740-1997-01-12-F-2.0         ISABEL CESAR MONTEIRO RODRIGUES
38382  292740-292740-1977-07-29-F-9.0                  LUCIA FREITAS PINHEIRO
38548  291080-291080-1979-06-03-F-9.0   CELINA MACEDO SIQUEIRA MIRANDA AMORIM

[351 rows x 2 columns]

In [71]:
# Verificar duplicatas na coluna ID_PESSOA
duplicatas_ID_PESSOA = df[df.duplicated(subset=['ID_PESSOA'], keep=False)]

# Exibir as linhas completas dos registros duplicados na coluna ID_PESSOA
if not duplicatas_ID_PESSOA.empty:
    print("Registros duplicados na coluna ID_PESSOA:")
    print(duplicatas_ID_PESSOA)
else:
    print("Não há IDs PESSOA duplicados.")

Registros duplicados na coluna ID_PESSOA:
       NU_NOTIFIC                       ID_PESSOA  \
25          32925  290320-290320-2006-09-04-F-4.0
84          14736  292870-292870-1999-11-27-M-9.0
93          14128  293135-293135-1982-08-18-F-4.0
115           220  292740-292740-1983-06-14-M-9.0
148          8846  293135-293135-1970-03-13-F-4.0
...           ...                             ...
38520       20950  291080-291080-2012-01-24-F-9.0
38535       25098  292740-292740-1988-01-26-F-9.0
38548       20178  291080-291080-1979-06-03-F-9.0
38549       11171  291080-291080-1979-06-03-F-9.0
38558       35083  291480-291480-1963-10-22-F-9.0

                                          NOME  COMUNINF  ID_MN_RESI  \
25                          IRACI ABREU AGUIAR       NaN      290320
84                   SERGIO MARTINS LIMA RAMOS  292870.0      292870
93      MARIANA FERREIRA CARVALHO CAMPOS ALVES       NaN      293135
115           RONALDO OLIVEIRA SOARES OLIVEIRA       NaN      292740
148            IRENE FERREIRA VIEIRA AGUIAR BO       NaN      293135
...                                        ...       ...         ...
38520               ROSA SILVEIRA LEITE FARIAS       NaN      291080
38535  ANGELA PEREIRA RIBEIRO PINHEIRO CORREIA       NaN      292740
38548    CELINA MACEDO SIQUEIRA MIRANDA AMORIM       NaN      291080
38549    CELINA MACEDO SIQUEIRA MIRANDA AMORIM       NaN      291080
38558                 MARILENE VIANA RODRIGUES       NaN      291480

       ID_MUNICIP  MUNICIPIO  TP_NOT ID_AGRAVO  DT_NOTIFIC  ...  MUN_HOSP  \
25         290320        NaN       2       A90  2013-01-04  ...       NaN
84         292870        NaN       2       A90  2013-01-10  ...       NaN
93         293135        NaN       2       A90  2013-01-10  ...       NaN
115        292740        NaN       2       A90  2013-01-11  ...       NaN
148        293135        NaN       2       A90  2013-01-14  ...       NaN
...           ...        ...     ...       ...         ...  ...       ...
38520      291080        NaN       2       A90  2019-12-23  ...       NaN
38535      292740        NaN       2       A90  2019-12-25  ...       NaN
38548      291080        NaN       2       A90  2019-12-27  ...       NaN
38549      291080        NaN       2       A90  2019-12-27  ...       NaN
38558      291480        NaN       2       A90  2019-12-27  ...       NaN

       UF_HOSP            MUN_SAUDENOT  UF_SAUDENOT               MUNI_RESI  \
25         NaN               BARREIRAS           29               BARREIRAS
84         NaN  SANTO ANTONIO DE JESUS           29  SANTO ANTONIO DE JESUS
93         NaN     TEIXEIRA DE FREITAS           29     TEIXEIRA DE FREITAS
115        NaN                SALVADOR           29                SALVADOR
148        NaN     TEIXEIRA DE FREITAS           29     TEIXEIRA DE FREITAS
...        ...                     ...          ...                     ...
38520      NaN        FEIRA DE SANTANA           29        FEIRA DE SANTANA
38535      NaN                SALVADOR           29                SALVADOR
38548      NaN        FEIRA DE SANTANA           29        FEIRA DE SANTANA
38549      NaN        FEIRA DE SANTANA           29        FEIRA DE SANTANA
38558      NaN                 ITABUNA           29                 ITABUNA

      UF_RESI               MUN_INFEC UF_INFEC  IDADE SEM_PRI_V
25         29                     NaN      NaN    6.0       1.0
84         29  SANTO ANTONIO DE JESUS     29.0   13.0       2.0
93         29                     NaN      NaN   30.0       2.0
115        29                     NaN      NaN   29.0       2.0
148        29                     NaN      NaN   42.0       3.0
...       ...                     ...      ...    ...       ...
38520      29                     NaN      NaN    7.0      52.0
38535      29                     NaN      NaN   31.0      51.0
38548      29                     NaN      NaN   40.0      52.0
38549      29                     NaN      NaN   40.0      52.0
38558      29                     NaN      NaN   56.0      52.0

[709 rows x 143 columns]

In [60]:
# Lista das colunas a serem verificadas
colunas_verificar = ['ALRM_HIPOT', 'ALRM_PLAQ', 'ALRM_VOM', 'ALRM_SANG', 'ALRM_HEMAT', 'ALRM_ABDOM', 'ALRM_LETAR',
                     'ALRM_HEPAT', 'ALRM_LIQ', 'DT_ALRM', 'GRAV_PULSO', 'GRAV_CONV', 'GRAV_ENCH', 'GRAV_INSUF',
                     'GRAV_TAQUI', 'GRAV_EXTRE', 'GRAV_HIPOT', 'GRAV_HEMAT', 'GRAV_MELEN', 'GRAV_METRO', 'GRAV_SANG',
                     'GRAV_AST', 'GRAV_MIOC', 'GRAV_CONSC', 'GRAV_ORGAO', 'DT_GRAV', 'MANI_HEMOR', 'EPISTAXE',
                     'GENGIVO', 'METRO', 'PETEQUIAS', 'HEMATURA', 'SANGRAM', 'LACO_N', 'PLASMATICO', 'EVIDENCIA',
                     'PLAQ_MENOR', 'CON_FHD', 'COMPLICA', 'TP_SISTEMA', 'NDUPLIC_N', 'CS_FLXRET', 'FLXRECEBI']

# Criar um dicionário para armazenar os valores únicos de cada coluna
valores_unicos_por_coluna = {}

# Iterar sobre as colunas e obter os valores únicos
for coluna in colunas_verificar:
    valores_unicos_por_coluna[coluna] = df[coluna].unique()

# Exibir os valores únicos de cada coluna
for coluna, valores_unicos in valores_unicos_por_coluna.items():
    print(f"Valores únicos da coluna '{coluna}':")
    print(valores_unicos)

Valores únicos da coluna 'ALRM_HIPOT':
[nan  2.  1.]
Valores únicos da coluna 'ALRM_PLAQ':
[nan  1.  2.]
Valores únicos da coluna 'ALRM_VOM':
[nan  2.  1.]
Valores únicos da coluna 'ALRM_SANG':
[nan  2.  1.]
Valores únicos da coluna 'ALRM_HEMAT':
[nan  2.  1.]
Valores únicos da coluna 'ALRM_ABDOM':
[nan  2.  1.]
Valores únicos da coluna 'ALRM_LETAR':
[nan  1.  2.]
Valores únicos da coluna 'ALRM_HEPAT':
[nan  2.  1.]
Valores únicos da coluna 'ALRM_LIQ':
[nan  2.  1.]
Valores únicos da coluna 'DT_ALRM':
[nan '2015-06-10' '2015-07-30' '2016-08-05' '2015-11-16' '2016-02-19'
 '2017-01-29' '2017-01-27' '2017-01-31' '2017-02-02' '2017-02-03'
 '2017-10-24' '2017-10-27' '2018-04-01' '2018-05-02' '2018-08-12'
 '2018-10-04' '2018-12-16' '2019-01-08' '2019-01-16' '2019-01-21'
 '2019-01-18' '2019-01-29' '2019-04-09' '2019-01-31' '2019-01-23'
 '2019-02-04' '2019-01-28' '2019-02-08' '2019-02-19' '2019-02-11'
 '2019-02-05' '2019-02-15' '2019-02-13' '2019-02-21' '2019-02-17'
 '2019-02-23' '2019-02-28' '2019-06-19' '2019-02-26' '2019-03-02'
 '2019-02-18' '2019-03-05' '2019-07-05' '2019-03-04' '2019-03-07'
 '2019-03-12' '2019-03-14' '2019-03-13' '2019-03-21' '2019-03-16'
 '2019-03-19' '2019-03-17' '2019-03-25' '2019-03-23' '2019-03-29'
 '2019-03-30' '2019-04-02' '2019-04-03' '2019-03-08' '2019-04-06'
 '2019-04-08' '2019-10-15' '2019-04-13' '2019-04-16' '2019-07-22'
 '2019-04-18' '2019-07-18' '2019-04-22' '2019-04-23' '2019-04-21'
 '2019-04-24' '2019-04-25' '2019-04-26' '2019-04-29' '2019-04-30'
 '2019-04-20' '2019-05-25' '2019-05-06' '2019-05-01' '2019-05-02'
 '2019-05-08' '2019-05-07' '2019-05-10' '2019-05-13' '2019-05-15'
 '2019-05-16' '2019-05-17' '2019-05-19' '2019-05-18' '2019-05-22'
 '2019-05-14' '2019-05-27' '2019-08-15' '2019-05-29' '2019-05-24'
 '2019-06-03' '2019-06-04' '2019-06-02' '2019-05-30' '2019-06-05'
 '2019-06-06' '2019-06-08' '2019-06-11' '2019-06-14' '2019-06-18'
 '2019-06-12' '2019-06-13' '2019-06-24' '2019-06-26' '2019-06-27'
 '2019-07-02' '2019-07-04' '2019-07-09' '2019-07-10' '2019-07-08'
 '2019-07-12' '2019-07-13' '2019-07-15' '2019-09-16' '2019-07-16'
 '2019-07-20' '2019-07-21' '2019-07-23' '2019-07-31' '2019-08-02'
 '2019-07-25' '2019-08-22' '2019-07-17' '2019-08-09' '2019-08-04'
 '2019-08-10' '2019-08-13' '2019-08-08' '2019-08-19' '2019-08-26'
 '2019-08-27' '2019-08-25' '2019-09-01' '2019-09-03' '2019-12-19'
 '2019-09-08' '2019-09-12' '2019-09-17' '2019-09-15' '2019-09-19'
 '2019-09-22' '2019-09-25' '2019-09-29' '2019-10-27' '2019-10-26'
 '2019-10-28' '2019-11-20' '2019-11-23']
Valores únicos da coluna 'GRAV_PULSO':
[nan  2.]
Valores únicos da coluna 'GRAV_CONV':
[nan  2.  1.]
Valores únicos da coluna 'GRAV_ENCH':
[nan  2.  1.]
Valores únicos da coluna 'GRAV_INSUF':
[nan  2.  1.]
Valores únicos da coluna 'GRAV_TAQUI':
[nan  2.  1.]
Valores únicos da coluna 'GRAV_EXTRE':
[nan  2.  1.]
Valores únicos da coluna 'GRAV_HIPOT':
[nan  2.  1.]
Valores únicos da coluna 'GRAV_HEMAT':
[nan  2.  1.]
Valores únicos da coluna 'GRAV_MELEN':
[nan  1.  2.]
Valores únicos da coluna 'GRAV_METRO':
[nan  2.  1.]
Valores únicos da coluna 'GRAV_SANG':
[nan  2.]
Valores únicos da coluna 'GRAV_AST':
[nan  2.]
Valores únicos da coluna 'GRAV_MIOC':
[nan  2.]
Valores únicos da coluna 'GRAV_CONSC':
[nan  2.]
Valores únicos da coluna 'GRAV_ORGAO':
[nan  2.  1.]
Valores únicos da coluna 'DT_GRAV':
[nan '2016-08-05' '2016-02-19' '2017-06-05' '2018-04-21' '2018-12-19'
 '2019-01-18' '2019-02-11' '2019-03-07' '2016-04-06' '2019-05-21'
 '2019-06-26' '2019-08-09']
Valores únicos da coluna 'MANI_HEMOR':
[nan  2.  9.  1.]
Valores únicos da coluna 'EPISTAXE':
[nan  1.  2.]
Valores únicos da coluna 'GENGIVO':
[nan  2.  1.]
Valores únicos da coluna 'METRO':
[nan  1.  2.]
Valores únicos da coluna 'PETEQUIAS':
[nan  9.  2.  1.]
Valores únicos da coluna 'HEMATURA':
[nan  2.  1.]
Valores únicos da coluna 'SANGRAM':
[nan  2.  1.]
Valores únicos da coluna 'LACO_N':
[nan  2.  1.  9.]
Valores únicos da coluna 'PLASMATICO':
[nan  1.  9.  2.]
Valores únicos da coluna 'EVIDENCIA':
[nan  2.  1.  3.]
Valores únicos da coluna 'PLAQ_MENOR':
[    nan  30000.  62000.  12000. 183000.  20100.  47000.   4000.  53000.
  86000.  32000.  15000.]
Valores únicos da coluna 'CON_FHD':
[nan  2.]
Valores únicos da coluna 'COMPLICA':
[nan  6.  4.  8.  5.]
Valores únicos da coluna 'TP_SISTEMA':
[ 2. nan]
Valores únicos da coluna 'NDUPLIC_N':
[nan  1.]
Valores únicos da coluna 'CS_FLXRET':
[0. 2. 5. 1.]
Valores únicos da coluna 'FLXRECEBI':
[nan  2.]

In [57]:
# Exibir as primeiras linhas da coluna 'NU_ANO'
print(df['NU_ANO'].head())

0    2012
1    2013
2    2013
3    2013
4    2013
Name: NU_ANO, dtype: int64

In [58]:
# Excluir os valores NaN na coluna 'NU_ANO'
df_sem_nan = df.dropna(subset=['NU_ANO'])

# Verificar se há valores diferentes de 'YYYY' na coluna 'NU_ANO'
valores_diferentes = df_sem_nan['NU_ANO'].unique()
for valor in valores_diferentes:
    if valor != 'YYYY':
        print("Há valores diferentes de 'YYYY' na coluna 'NU_ANO'.")
        print("Valores diferentes encontrados:", valores_diferentes)
        break
else:
    print("Não há valores diferentes de 'YYYY' na coluna 'NU_ANO'.")

Há valores diferentes de 'YYYY' na coluna 'NU_ANO'.
Valores diferentes encontrados: [2012 2013 2014 2015 2016 2017 2018 2019]

In [56]:
# Verificar se há números na coluna 'NOME'
for nome in df['NOME']:
    if any(caracter.isdigit() for caracter in nome):
        print("Existem números na coluna 'NOME'.")
        break
else:
    print("Não existem números na coluna 'NOME'.")

Não existem números na coluna 'NOME'.

In [55]:
# Encontrar os valores únicos na coluna 'CS_SEXO'
valores_unicos = df['CS_SEXO'].unique()

# Exibir os valores únicos
print("Valores únicos na coluna 'CS_SEXO':")
print(valores_unicos)

Valores únicos na coluna 'CS_SEXO':
['M' 'F']

In [49]:
# Lista das colunas desejadas
colunas_desejadas = ['GRAV_PULSO', 'GRAV_CONV', 'GRAV_ENCH', 'GRAV_INSUF', 'GRAV_TAQUI', 'GRAV_EXTRE', 'GRAV_HIPOT',
                     'GRAV_HEMAT', 'GRAV_MELEN', 'GRAV_METRO', 'GRAV_SANG', 'GRAV_AST', 'GRAV_MIOC', 'GRAV_CONSC', 'GRAV_ORGAO']

# Iteração sobre as colunas desejadas
for coluna in colunas_desejadas:
    # Exibição dos valores únicos na coluna
    print(f"Valores únicos na coluna {coluna}:")
    print(df[coluna].unique())
    print()

Valores únicos na coluna GRAV_PULSO:
[nan  2.]

Valores únicos na coluna GRAV_CONV:
[nan  2.  1.]

Valores únicos na coluna GRAV_ENCH:
[nan  2.  1.]

Valores únicos na coluna GRAV_INSUF:
[nan  2.  1.]

Valores únicos na coluna GRAV_TAQUI:
[nan  2.  1.]

Valores únicos na coluna GRAV_EXTRE:
[nan  2.  1.]

Valores únicos na coluna GRAV_HIPOT:
[nan  2.  1.]

Valores únicos na coluna GRAV_HEMAT:
[nan  2.  1.]

Valores únicos na coluna GRAV_MELEN:
[nan  1.  2.]

Valores únicos na coluna GRAV_METRO:
[nan  2.  1.]

Valores únicos na coluna GRAV_SANG:
[nan  2.]

Valores únicos na coluna GRAV_AST:
[nan  2.]

Valores únicos na coluna GRAV_MIOC:
[nan  2.]

Valores únicos na coluna GRAV_CONSC:
[nan  2.]

Valores únicos na coluna GRAV_ORGAO:
[nan  2.  1.]

In [51]:
# Lista das colunas de população estimada
colunas_populacao_estimada = ['POPULAÇÃO ESTIMADA 2020', 'POPULAÇÃO ESTIMADA 2019', 'POPULAÇÃO ESTIMADA 2018',
                              'POPULAÇÃO ESTIMADA 2017', 'POPULAÇÃO ESTIMADA 2016', 'POPULAÇÃO ESTIMADA 2015',
                              'POPULAÇÃO ESTIMADA 2014', 'POPULAÇÃO ESTIMADA 2013', 'POPULAÇÃO ESTIMADA 2012',
                              'POPULAÇÃO ESTIMADA 2011']

# Variável para acompanhar se todos os valores são numéricos e positivos
todos_positivos = True

# Iteração sobre as colunas de população estimada
for coluna in colunas_populacao_estimada:
    # Excluir valores NaN e converter para string
    valores_validos = df[coluna].dropna().astype(str)
    # Verificar se todos os valores na coluna são numéricos e positivos
    if not valores_validos.str.isnumeric().all():
        todos_positivos = False
        print(f"Coluna {coluna}: Nem todos os valores são numéricos.")
    else:
        # Verificar se há algum valor negativo
        valores_negativos = valores_validos[valores_validos.astype(int) < 0]
        if not valores_negativos.empty:
            todos_positivos = False
            print(f"Coluna {coluna}: Há valores negativos.")
        # Verificar se há algum valor que não seja um número
        elif not valores_validos.str.match(r'^\d+$').all():
            todos_positivos = False
            print(f"Coluna {coluna}: Há valores não numéricos.")

# Se todos os valores forem positivos e numéricos, exibir uma mensagem
if todos_positivos:
    print("Todos os valores nas colunas de população estimada são numéricos e positivos.")

Coluna POPULAÇÃO ESTIMADA 2012: Nem todos os valores são numéricos.

In [53]:
# Encontrar os valores não numéricos na coluna 'POPULAÇÃO ESTIMADA 2012'
valores_nao_numericos = df.loc[~df['POPULAÇÃO ESTIMADA 2012'].astype(str).str.isnumeric(), 'POPULAÇÃO ESTIMADA 2012']

# Exibir os valores não numéricos, se houver
if not valores_nao_numericos.empty:
    print("Valores não numéricos na coluna 'POPULAÇÃO ESTIMADA 2012':")
    print(valores_nao_numericos)
else:
    print("Não há valores não numéricos na coluna 'POPULAÇÃO ESTIMADA 2012'.")

Valores não numéricos na coluna 'POPULAÇÃO ESTIMADA 2012':
0        2317-03-06
1        2317-03-06
2        1910-05-09
3        1944-09-08
4        1944-09-08
            ...
38564    3455-05-26
38565    9322-05-17
38566    9322-05-17
38567    9322-05-17
38568    9322-05-17
Name: POPULAÇÃO ESTIMADA 2012, Length: 38569, dtype: object

In [46]:
# Encontrar os valores únicos na coluna ID_AGRAVO
valores_unicos_ID_AGRAVO = df['ID_AGRAVO'].unique()

# Exibir os valores únicos
print("Valores únicos na coluna ID_AGRAVO:")
print(valores_unicos_ID_AGRAVO)

Valores únicos na coluna ID_AGRAVO:
['A90']

In [45]:
# Verificar se há valores na coluna UF_RESI acima de 27
if (df['UF_RESI'] > 53).any():
    print("Há valores na coluna UF_RESI que estão acima de 53.")
else:
    print("Não há valores na coluna UF_RESI que estejam acima de 53.")

Não há valores na coluna UF_RESI que estejam acima de 53.

In [40]:
# Verificar se há valores negativos na coluna de idade
if (df['IDADE'] < 0).any():
    print("Há valores negativos na coluna de idade.")
else:
    print("Não há valores negativos na coluna de idade.")

Não há valores negativos na coluna de idade.

In [39]:
# Verificar se há NaN nas colunas específicas
nan_cols = ['NU_NOTIFIC', 'ID_PESSOA', 'NOME']
nan_values = df[nan_cols].isna().any()

# Exibir as colunas com valores NaN, se houver
for col, has_nan in nan_values.items():
    if has_nan:
        print(f"Há valores NaN na coluna {col}.")
    else:
        print(f"Não há valores NaN na coluna {col}.")

Não há valores NaN na coluna NU_NOTIFIC.
Não há valores NaN na coluna ID_PESSOA.
Não há valores NaN na coluna NOME.

In [36]:
import pandas as pd

# Suponha que df seja o seu DataFrame

# Converter todas as colunas para numérico, ignorando erros
df_numeric = df.apply(pd.to_numeric, errors='coerce')

# Verificar se há valores negativos em todo o DataFrame
if (df_numeric < 0).any().any():
    print("Há valores negativos no DataFrame.")
else:
    print("Não há valores negativos no DataFrame.")

Não há valores negativos no DataFrame.

In [6]:
# Etapa 7: Calcular o percentual de NaN em todo o banco de dados
percent_nan_total = df.isna().mean().mean() * 100
print(f"Percentual de NaN no banco de dados: {percent_nan_total:.2f}%")

Percentual de NaN no banco de dados: 57.31%

In [7]:
# Etapa 8: Retornar todas as colunas que possuem NaN
columns_with_nan = df.columns[df.isna().any()].tolist()
print("Colunas que possuem NaN:")
print(columns_with_nan)

Colunas que possuem NaN:
['COMUNINF', 'MUNICIPIO', 'ID_REGIONA', 'ID_UNIDADE', 'CS_GESTANT', 'CS_ESCOL_N', 'DT_INVEST', 'ID_OCUPA_N', 'FEBRE', 'MIALGIA', 'CEFALEIA', 'EXANTEMA', 'VOMITO', 'NAUSEA', 'DOR_COSTAS', 'CONJUNTVIT', 'ARTRITE', 'ARTRALGIA', 'PETEQUIA_N', 'LEUCOPENIA', 'LACO', 'DOR_RETRO', 'DIABETES', 'HEMATOLOG', 'HEPATOPAT', 'RENAL', 'HIPERTENSA', 'ACIDO_PEPT', 'AUTO_IMUNE', 'DT_CHIK_S1', 'DT_CHIK_S2', 'DT_PRNT', 'RES_CHIKS1', 'RES_CHIKS2', 'RESUL_PRNT', 'DT_SORO', 'RESUL_SORO', 'DT_NS1', 'RESUL_NS1', 'DT_VIRAL', 'RESUL_VI_N', 'DT_PCR', 'RESUL_PCR_', 'SOROTIPO', 'HISTOPA_N', 'IMUNOH_N', 'HOSPITALIZ', 'DT_INTERNA', 'UF', 'TPAUTOCTO', 'COUFINF', 'COPAISINF', 'CLASSI_FIN', 'CRITERIO', 'DOENCA_TRA', 'CLINC_CHIK', 'EVOLUCAO', 'DT_OBITO', 'DT_ENCERRA', 'ALRM_HIPOT', 'ALRM_PLAQ', 'ALRM_VOM', 'ALRM_SANG', 'ALRM_HEMAT', 'ALRM_ABDOM', 'ALRM_LETAR', 'ALRM_HEPAT', 'ALRM_LIQ', 'DT_ALRM', 'GRAV_PULSO', 'GRAV_CONV', 'GRAV_ENCH', 'GRAV_INSUF', 'GRAV_TAQUI', 'GRAV_EXTRE', 'GRAV_HIPOT', 'GRAV_HEMAT', 'GRAV_MELEN', 'GRAV_METRO', 'GRAV_SANG', 'GRAV_AST', 'GRAV_MIOC', 'GRAV_CONSC', 'GRAV_ORGAO', 'DT_GRAV', 'MANI_HEMOR', 'EPISTAXE', 'GENGIVO', 'METRO', 'PETEQUIAS', 'HEMATURA', 'SANGRAM', 'LACO_N', 'PLASMATICO', 'EVIDENCIA', 'PLAQ_MENOR', 'CON_FHD', 'COMPLICA', 'TP_SISTEMA', 'NDUPLIC_N', 'FLXRECEBI', 'MUN_HOSP', 'UF_HOSP', 'MUN_INFEC', 'UF_INFEC', 'IDADE']

In [10]:
# Calcular o percentual de NaN para cada coluna que possui NaN
percent_nan_by_column = (df[columns_with_nan].isna().mean() * 100).round(2)

# Exibir o percentual de NaN para cada coluna na tela
for column, percent_nan in zip(columns_with_nan, percent_nan_by_column):
    print(f"Percentual de NaN na coluna '{column}': {percent_nan}%")

Percentual de NaN na coluna 'COMUNINF': 72.14%
Percentual de NaN na coluna 'MUNICIPIO': 96.77%
Percentual de NaN na coluna 'ID_REGIONA': 0.04%
Percentual de NaN na coluna 'ID_UNIDADE': 0.12%
Percentual de NaN na coluna 'CS_GESTANT': 0.01%
Percentual de NaN na coluna 'CS_ESCOL_N': 21.71%
Percentual de NaN na coluna 'DT_INVEST': 15.92%
Percentual de NaN na coluna 'ID_OCUPA_N': 83.88%
Percentual de NaN na coluna 'FEBRE': 58.3%
Percentual de NaN na coluna 'MIALGIA': 58.3%
Percentual de NaN na coluna 'CEFALEIA': 58.3%
Percentual de NaN na coluna 'EXANTEMA': 58.3%
Percentual de NaN na coluna 'VOMITO': 58.3%
Percentual de NaN na coluna 'NAUSEA': 58.3%
Percentual de NaN na coluna 'DOR_COSTAS': 58.3%
Percentual de NaN na coluna 'CONJUNTVIT': 58.3%
Percentual de NaN na coluna 'ARTRITE': 58.3%
Percentual de NaN na coluna 'ARTRALGIA': 58.3%
Percentual de NaN na coluna 'PETEQUIA_N': 58.3%
Percentual de NaN na coluna 'LEUCOPENIA': 58.3%
Percentual de NaN na coluna 'LACO': 58.3%
Percentual de NaN na coluna 'DOR_RETRO': 58.3%
Percentual de NaN na coluna 'DIABETES': 58.3%
Percentual de NaN na coluna 'HEMATOLOG': 58.3%
Percentual de NaN na coluna 'HEPATOPAT': 58.3%
Percentual de NaN na coluna 'RENAL': 58.3%
Percentual de NaN na coluna 'HIPERTENSA': 58.3%
Percentual de NaN na coluna 'ACIDO_PEPT': 58.3%
Percentual de NaN na coluna 'AUTO_IMUNE': 58.3%
Percentual de NaN na coluna 'DT_CHIK_S1': 99.87%
Percentual de NaN na coluna 'DT_CHIK_S2': 100.0%
Percentual de NaN na coluna 'DT_PRNT': 99.99%
Percentual de NaN na coluna 'RES_CHIKS1': 99.73%
Percentual de NaN na coluna 'RES_CHIKS2': 99.76%
Percentual de NaN na coluna 'RESUL_PRNT': 99.76%
Percentual de NaN na coluna 'DT_SORO': 79.57%
Percentual de NaN na coluna 'RESUL_SORO': 46.25%
Percentual de NaN na coluna 'DT_NS1': 92.62%
Percentual de NaN na coluna 'RESUL_NS1': 53.42%
Percentual de NaN na coluna 'DT_VIRAL': 99.04%
Percentual de NaN na coluna 'RESUL_VI_N': 54.65%
Percentual de NaN na coluna 'DT_PCR': 99.46%
Percentual de NaN na coluna 'RESUL_PCR_': 55.37%
Percentual de NaN na coluna 'SOROTIPO': 99.65%
Percentual de NaN na coluna 'HISTOPA_N': 57.17%
Percentual de NaN na coluna 'IMUNOH_N': 57.04%
Percentual de NaN na coluna 'HOSPITALIZ': 54.14%
Percentual de NaN na coluna 'DT_INTERNA': 96.81%
Percentual de NaN na coluna 'UF': 96.71%
Percentual de NaN na coluna 'TPAUTOCTO': 68.43%
Percentual de NaN na coluna 'COUFINF': 71.89%
Percentual de NaN na coluna 'COPAISINF': 71.89%
Percentual de NaN na coluna 'CLASSI_FIN': 0.27%
Percentual de NaN na coluna 'CRITERIO': 32.38%
Percentual de NaN na coluna 'DOENCA_TRA': 84.97%
Percentual de NaN na coluna 'CLINC_CHIK': 99.71%
Percentual de NaN na coluna 'EVOLUCAO': 38.0%
Percentual de NaN na coluna 'DT_OBITO': 99.9%
Percentual de NaN na coluna 'DT_ENCERRA': 1.88%
Percentual de NaN na coluna 'ALRM_HIPOT': 99.26%
Percentual de NaN na coluna 'ALRM_PLAQ': 99.26%
Percentual de NaN na coluna 'ALRM_VOM': 99.26%
Percentual de NaN na coluna 'ALRM_SANG': 99.26%
Percentual de NaN na coluna 'ALRM_HEMAT': 99.26%
Percentual de NaN na coluna 'ALRM_ABDOM': 99.26%
Percentual de NaN na coluna 'ALRM_LETAR': 99.26%
Percentual de NaN na coluna 'ALRM_HEPAT': 99.26%
Percentual de NaN na coluna 'ALRM_LIQ': 99.26%
Percentual de NaN na coluna 'DT_ALRM': 99.42%
Percentual de NaN na coluna 'GRAV_PULSO': 99.97%
Percentual de NaN na coluna 'GRAV_CONV': 99.96%
Percentual de NaN na coluna 'GRAV_ENCH': 99.96%
Percentual de NaN na coluna 'GRAV_INSUF': 99.96%
Percentual de NaN na coluna 'GRAV_TAQUI': 99.96%
Percentual de NaN na coluna 'GRAV_EXTRE': 99.96%
Percentual de NaN na coluna 'GRAV_HIPOT': 99.96%
Percentual de NaN na coluna 'GRAV_HEMAT': 99.96%
Percentual de NaN na coluna 'GRAV_MELEN': 99.96%
Percentual de NaN na coluna 'GRAV_METRO': 99.96%
Percentual de NaN na coluna 'GRAV_SANG': 99.96%
Percentual de NaN na coluna 'GRAV_AST': 99.96%
Percentual de NaN na coluna 'GRAV_MIOC': 99.96%
Percentual de NaN na coluna 'GRAV_CONSC': 99.96%
Percentual de NaN na coluna 'GRAV_ORGAO': 99.96%
Percentual de NaN na coluna 'DT_GRAV': 99.97%
Percentual de NaN na coluna 'MANI_HEMOR': 99.93%
Percentual de NaN na coluna 'EPISTAXE': 99.98%
Percentual de NaN na coluna 'GENGIVO': 99.98%
Percentual de NaN na coluna 'METRO': 99.98%
Percentual de NaN na coluna 'PETEQUIAS': 99.98%
Percentual de NaN na coluna 'HEMATURA': 99.98%
Percentual de NaN na coluna 'SANGRAM': 99.98%
Percentual de NaN na coluna 'LACO_N': 99.98%
Percentual de NaN na coluna 'PLASMATICO': 99.95%
Percentual de NaN na coluna 'EVIDENCIA': 99.98%
Percentual de NaN na coluna 'PLAQ_MENOR': 99.97%
Percentual de NaN na coluna 'CON_FHD': 100.0%
Percentual de NaN na coluna 'COMPLICA': 99.97%
Percentual de NaN na coluna 'TP_SISTEMA': 53.01%
Percentual de NaN na coluna 'NDUPLIC_N': 99.92%
Percentual de NaN na coluna 'FLXRECEBI': 87.82%
Percentual de NaN na coluna 'MUN_HOSP': 96.77%
Percentual de NaN na coluna 'UF_HOSP': 96.77%
Percentual de NaN na coluna 'MUN_INFEC': 72.14%
Percentual de NaN na coluna 'UF_INFEC': 72.14%
Percentual de NaN na coluna 'IDADE': 0.02%

In [13]:
# Selecionar todas as colunas de data no documento
date_columns = df.select_dtypes(include=['datetime64']).columns.tolist()

# Exibir as colunas de data
print("Colunas de data do documento:")
print(date_columns)

Colunas de data do documento:
[]

In [14]:
# Identificar todas as colunas que contêm 'DT' no nome
dt_columns = [col for col in df.columns if 'DT' in col]

# Exibir as colunas que contêm 'DT'
print("Colunas que possuem 'DT' no nome:")
print(dt_columns)

Colunas que possuem 'DT' no nome:
['DT_NOTIFIC', 'DT_SIN_PRI', 'DT_NASC', 'DT_INVEST', 'DT_CHIK_S1', 'DT_CHIK_S2', 'DT_PRNT', 'DT_SORO', 'DT_NS1', 'DT_VIRAL', 'DT_PCR', 'DT_INTERNA', 'DT_OBITO', 'DT_ENCERRA', 'DT_ALRM', 'DT_GRAV']

In [4]:
## Renomear as colunas no DataFrame original
df.rename(columns={'DT_NOTIFIC': 'Data_Notificação',
                   'DT_SIN_PRI': 'Data_Início_Sintomas_Principais',
                   'DT_NASC': 'Data_Nascimento',
                   'DT_INVEST': 'Data_Investigação',
                   'DT_CHIK_S1': 'Data_Chikungunya_Estágio_1',
                   'DT_CHIK_S2': 'Data_Chikungunya_Estágio_2',
                   'DT_PRNT': 'Data_Impressão',
                   'DT_SORO': 'Data_Teste_Sorologia',
                   'DT_NS1': 'Data_Teste_NS1',
                   'DT_VIRAL': 'Data_Teste_Viral',
                   'DT_PCR': 'Data_Teste_PCR',
                   'DT_INTERNA': 'Data_Internação',
                   'DT_OBITO': 'Data_Óbito',
                   'DT_ENCERRA': 'Data_Encerramento',
                   'DT_ALRM': 'Data_Alarme',
                   'DT_GRAV': 'Data_Gravidade'}, inplace=True)

# Selecionar apenas as colunas renomeadas
colunas_selecionadas = ['Data_Notificação', 'Data_Início_Sintomas_Principais', 'Data_Nascimento',
                        'Data_Investigação', 'Data_Chikungunya_Estágio_1', 'Data_Chikungunya_Estágio_2',
                        'Data_Impressão', 'Data_Teste_Sorologia', 'Data_Teste_NS1', 'Data_Teste_Viral',
                        'Data_Teste_PCR', 'Data_Internação', 'Data_Óbito', 'Data_Encerramento',
                        'Data_Alarme', 'Data_Gravidade']
df = df[colunas_selecionadas]

# Exibir o DataFrame com as colunas renomeadas
print("DataFrame com as colunas renomeadas:")
print(df)

DataFrame com as colunas renomeadas:
     Data_Notificação Data_Início_Sintomas_Principais Data_Nascimento  \
0          2012-12-31                      2012-12-30      1982-06-23
1          2013-01-01                      2012-12-30      1984-07-26
2          2013-01-01                      2012-12-31      1988-06-22
3          2013-01-01                      2012-12-31      2004-12-29
4          2013-01-01                      2012-12-31      1961-01-25
...               ...                             ...             ...
2217       2013-03-04                      2013-03-01      1981-02-19
2218       2013-03-04                      2013-03-01      1996-09-02
2219       2013-03-04                      2013-03-03      1993-11-12
2220       2013-03-04                      2013-03-01      1956-01-28
2221              NaN                             NaN             NaN

     Data_Investigação  Data_Chikungunya_Estágio_1  \
0           2012-12-31                         NaN
1           2013-01-01                         NaN
2           2013-01-01                         NaN
3           2013-01-10                         NaN
4           2013-01-10                         NaN
...                ...                         ...
2217        2013-03-04                         NaN
2218        2013-03-04                         NaN
2219        2013-03-04                         NaN
2220        2013-03-04                         NaN
2221               NaN                         NaN

      Data_Chikungunya_Estágio_2  Data_Impressão Data_Teste_Sorologia  \
0                            NaN             NaN                  NaN
1                            NaN             NaN                  NaN
2                            NaN             NaN                  NaN
3                            NaN             NaN                  NaN
4                            NaN             NaN                  NaN
...                          ...             ...                  ...
2217                         NaN             NaN                  NaN
2218                         NaN             NaN                  NaN
2219                         NaN             NaN                  NaN
2220                         NaN             NaN           2013-03-15
2221                         NaN             NaN                  NaN

     Data_Teste_NS1 Data_Teste_Viral  Data_Teste_PCR Data_Internação  \
0               NaN              NaN             NaN             NaN
1               NaN              NaN             NaN             NaN
2               NaN              NaN             NaN             NaN
3               NaN              NaN             NaN             NaN
4               NaN              NaN             NaN             NaN
...             ...              ...             ...             ...
2217            NaN              NaN             NaN             NaN
2218            NaN              NaN             NaN             NaN
2219            NaN              NaN             NaN             NaN
2220     2013-03-15              NaN             NaN             NaN
2221            NaN              NaN             NaN             NaN

     Data_Óbito Data_Encerramento  Data_Alarme  Data_Gravidade
0           NaN        2013-03-02          NaN             NaN
1           NaN        2013-03-03          NaN             NaN
2           NaN        2013-03-20          NaN             NaN
3           NaN        2013-03-22          NaN             NaN
4           NaN        2013-03-22          NaN             NaN
...         ...               ...          ...             ...
2217        NaN        2013-05-04          NaN             NaN
2218        NaN        2013-04-01          NaN             NaN
2219        NaN        2013-05-10          NaN             NaN
2220        NaN        2013-04-17          NaN             NaN
2221        NaN               NaN          NaN             NaN

[2222 rows x 16 columns]

In [56]:
# Verificar se a data de nascimento é anterior à data de óbito
validacao_nascimento_obito = (df['Data_Nascimento'] < df['Data_Óbito']).all()

# Verificar se a data de notificação é anterior à data de internação
validacao_notificacao_internacao = (df['Data_Notificação'] < df['Data_Internação']).all()

# Verificar se a data de notificação é anterior à data de encerramento
validacao_notificacao_encerramento = (df['Data_Notificação'] < df['Data_Encerramento']).all()

# Exibir os resultados das validações
print("Validação - Data de nascimento é anterior à data de óbito:", validacao_nascimento_obito)
print("Validação - Data de notificação é anterior à data de internação:", validacao_notificacao_internacao)
print("Validação - Data de notificação é anterior à data de encerramento:", validacao_notificacao_encerramento)

Validação - Data de nascimento é anterior à data de óbito: False
Validação - Data de notificação é anterior à data de internação: False
Validação - Data de notificação é anterior à data de encerramento: False

In [59]:
# Filtrar o DataFrame onde a Data de Nascimento é posterior à Data de Óbito
linha_nascimento_apos_obito = df[df['Data_Nascimento'] > df['Data_Óbito']]

# Exibir a linha onde ocorre o erro, se houver
if not linha_nascimento_apos_obito.empty:
    print("Linha onde Data de Nascimento é posterior à Data de Óbito:")
    print(linha_nascimento_apos_obito)
else:
    print("Não há nenhuma linha onde Data de Nascimento é posterior à Data de Óbito.")

Não há nenhuma linha onde Data de Nascimento é posterior à Data de Óbito.

In [61]:
# Filtrar o DataFrame onde a Data de Internação é posterior à Data de Óbito
linha_internacao_apos_obito = df[df['Data_Internação'] > df['Data_Óbito']]

# Se houver linhas onde a Data de Internação é posterior à Data de Óbito, exibir apenas as variáveis "Internação" e "Óbito" dessas linhas
if not linha_internacao_apos_obito.empty:
    print("Variáveis 'Internação' e 'Óbito' para as linhas onde Data de Internação é posterior à Data de Óbito:")
    print(linha_internacao_apos_obito[['Data_Internação', 'Data_Óbito']])
else:
    print("Não há nenhuma linha onde Data de Internação é posterior à Data de Óbito.")

Variáveis 'Internação' e 'Óbito' para as linhas onde Data de Internação é posterior à Data de Óbito:
     Data_Internação  Data_Óbito
6845      2013-05-25  2013-05-24

In [22]:
# Verificar se há alguma linha onde a Data de Nascimento é posterior a outra data
datas_nascimento_posterior = df['Data_Nascimento'] > df[['Data_Notificação', 'Data_Início_Sintomas_Principais', 'Data_Investigação',
                                                         'Data_Chikungunya_Estágio_1', 'Data_Chikungunya_Estágio_2',
                                                         'Data_Impressão', 'Data_Teste_Sorologia', 'Data_Teste_NS1',
                                                         'Data_Teste_Viral', 'Data_Teste_PCR', 'Data_Internação',
                                                         'Data_Óbito', 'Data_Encerramento', 'Data_Alarme', 'Data_Gravidade']].max(axis=1)

# Exibir a linha onde ocorre a inconsistência, se houver
if datas_nascimento_posterior.any():
    print("Há pelo menos uma linha onde a Data de Nascimento é posterior a outra data:")
    print(df[datas_nascimento_posterior])
else:
    print("Não há nenhuma linha onde a Data de Nascimento é posterior a outra data.")

Não há nenhuma linha onde a Data de Nascimento é posterior a outra data.

In [25]:
# Lista de colunas de datas a serem verificadas
datas_a_verificar = ['Data_Início_Sintomas_Principais', 'Data_Investigação',
                     'Data_Chikungunya_Estágio_1', 'Data_Chikungunya_Estágio_2',
                     'Data_Impressão', 'Data_Teste_Sorologia', 'Data_Teste_NS1',
                     'Data_Teste_Viral', 'Data_Teste_PCR', 'Data_Internação',
                     'Data_Alarme', 'Data_Gravidade']

# Verificar se há datas posteriores a 'Data_Óbito' e 'Data_Encerramento' em cada linha
for coluna in datas_a_verificar:
    datas_posterior_obito = df[coluna] > df['Data_Óbito']
    datas_posterior_encerramento = df[coluna] > df['Data_Encerramento']

    # Exibir as linhas onde ocorrem as inconsistências, se houver
    if datas_posterior_obito.any():
        print(f"Para a coluna '{coluna}', há pelo menos uma linha onde há datas posteriores à Data de Óbito:")
        print(df[datas_posterior_obito])

    if datas_posterior_encerramento.any():
        print(f"Para a coluna '{coluna}', há pelo menos uma linha onde há datas posteriores à Data de Encerramento:")
        print(df[datas_posterior_encerramento])

Para a coluna 'Data_Investigação', há pelo menos uma linha onde há datas posteriores à Data de Encerramento:
    Data_Notificação Data_Início_Sintomas_Principais Data_Nascimento  \
822       2013-02-06                      2013-02-05      1988-09-17

    Data_Investigação Data_Chikungunya_Estágio_1 Data_Chikungunya_Estágio_2  \
822        2014-02-17                        NaT                        NaT

    Data_Impressão Data_Teste_Sorologia Data_Teste_NS1 Data_Teste_Viral  \
822            NaT           2013-02-10            NaT              NaT

    Data_Teste_PCR Data_Internação Data_Óbito Data_Encerramento Data_Alarme  \
822            NaT      2014-02-05        NaT        2013-04-08         NaT

    Data_Gravidade
822            NaT
Para a coluna 'Data_Teste_Sorologia', há pelo menos uma linha onde há datas posteriores à Data de Encerramento:
     Data_Notificação Data_Início_Sintomas_Principais Data_Nascimento  \
26         2013-01-04                      2012-12-31      1992-07-18
1120       2013-02-14                      2013-02-08      1959-05-28
1673       2013-02-25                      2013-02-19      1986-06-10
1831       2013-02-26                      2013-02-20      1983-11-18

     Data_Investigação Data_Chikungunya_Estágio_1 Data_Chikungunya_Estágio_2  \
26          2013-01-04                        NaT                        NaT
1120        2013-02-14                        NaT                        NaT
1673        2013-02-25                        NaT                        NaT
1831        2013-02-26                        NaT                        NaT

     Data_Impressão Data_Teste_Sorologia Data_Teste_NS1 Data_Teste_Viral  \
26              NaT           2013-01-16            NaT              NaT
1120            NaT           2013-03-22            NaT              NaT
1673            NaT           2013-03-25            NaT              NaT
1831            NaT           2013-03-25            NaT              NaT

     Data_Teste_PCR Data_Internação Data_Óbito Data_Encerramento Data_Alarme  \
26              NaT             NaT        NaT        2013-01-04         NaT
1120            NaT      2013-02-08        NaT        2013-02-15         NaT
1673            NaT             NaT        NaT        2013-02-25         NaT
1831            NaT             NaT        NaT        2013-02-26         NaT

     Data_Gravidade
26              NaT
1120            NaT
1673            NaT
1831            NaT
Para a coluna 'Data_Teste_NS1', há pelo menos uma linha onde há datas posteriores à Data de Encerramento:
     Data_Notificação Data_Início_Sintomas_Principais Data_Nascimento  \
1254       2013-02-18                      2013-02-17      1999-11-21

     Data_Investigação Data_Chikungunya_Estágio_1 Data_Chikungunya_Estágio_2  \
1254        2013-02-18                        NaT                        NaT

     Data_Impressão Data_Teste_Sorologia Data_Teste_NS1 Data_Teste_Viral  \
1254            NaT                  NaT     2013-02-19              NaT

     Data_Teste_PCR Data_Internação Data_Óbito Data_Encerramento Data_Alarme  \
1254            NaT             NaT        NaT        2013-02-18         NaT

     Data_Gravidade
1254            NaT
Para a coluna 'Data_Internação', há pelo menos uma linha onde há datas posteriores à Data de Encerramento:
    Data_Notificação Data_Início_Sintomas_Principais Data_Nascimento  \
822       2013-02-06                      2013-02-05      1988-09-17

    Data_Investigação Data_Chikungunya_Estágio_1 Data_Chikungunya_Estágio_2  \
822        2014-02-17                        NaT                        NaT

    Data_Impressão Data_Teste_Sorologia Data_Teste_NS1 Data_Teste_Viral  \
822            NaT           2013-02-10            NaT              NaT

    Data_Teste_PCR Data_Internação Data_Óbito Data_Encerramento Data_Alarme  \
822            NaT      2014-02-05        NaT        2013-04-08         NaT

    Data_Gravidade
822            NaT

In [26]:
# Acessar a data de internação das linhas especificadas
datas_internacao = df.loc[[26, 1120, 1673, 1831], 'Data_Internação']

# Exibir as datas de internação das linhas especificadas
print(datas_internacao)

26            NaT
1120   2013-02-08
1673          NaT
1831          NaT
Name: Data_Internação, dtype: datetime64[ns]

Não há registro de internação das linhas 26, 1120, 1673 e 1831 para saber se há inconsistência entre datas de internação, óbito e ou demais.

Não há valores iguais a '-' em nenhuma posição.
DataFrame após a exclusão de NaN:
Empty DataFrame
Columns: [Data_Notificação, Data_Início_Sintomas_Principais, Data_Nascimento, Data_Investigação, Data_Chikungunya_Estágio_1, Data_Chikungunya_Estágio_2, Data_Impressão, Data_Teste_Sorologia, Data_Teste_NS1, Data_Teste_Viral, Data_Teste_PCR, Data_Internação, Data_Óbito, Data_Encerramento, Data_Alarme, Data_Gravidade]
Index: []